.thanks {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    @include hover-transition;
    &.invisible {
        visibility: hidden;
        opacity: 0;
    }
    .icon {
        margin-top: $small-mar;
        width: 45px;
        margin: 0 auto;
        img {
            width: 45px;
        }
    }
    .content{
        margin: $small-mar 0;
        p { @include font-md; font-weight: 600; }
    }
    .btn {
        padding: 0 30px!important;
    }
}


.g-recaptcha {
    div {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $small-mar;
    }
}
.container {
    position: relative;
}
.register_form_component{
    overflow-x: hidden;
    position: relative;


    .title-column{
        h2{
            margin-top:3rem;
            @include font-xxl;
            @include media-breakpoint-down(sm) {
                @include font-xl;
            }
        }
    }
    .form-group {
        margin-bottom: 20px;
        &.submit-form {
            margin-bottom: 0;
        }
        .terms {
            margin-bottom: 10px;
            @include font-xs;
        }
    }
    .middle-column{
        margin-top:2rem;
        position: relative;
        h3{
            @include font-lg;
            font-weight: 700;
            margin-bottom: $medium-mar;
        }
        .recommendation-box{
            @media (min-width: 0px) and (max-width: 860px) {
                display: none;
            }
            position: absolute;
            max-width: 320px;
            left: -280px;
            top: 0;
            img {
                border-radius: 50%;
                border:4px solid white;
                width:90px;
                margin:auto;
                box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
            }
            .s1 {
                @include font-xs;
                width:100%;
                padding:0 15%;
                margin-top:1rem;
                margin-bottom: 1rem;
            }
            .s2 {
                font-size: .8rem;
                margin-bottom: 0rem;
                font-weight: 600;
            }
            .s3 {
                color:#4a90e2;
                font-size: .8rem;
            }
        }
        .register-box{
            border: 3px solid #51B7CC;
            border-radius: $radius-10;
            padding:$small-pad;
            width: 380px;
            max-width: 100%;
            position: relative;
            display: inline-block;
            .input-group-text,
            .form-control {
                border-width:0 0 2px 0;
                border-color:#51B7CC;
                background-color: transparent;
                border-radius:0;
                &:focus{
                    box-shadow: none;
                }
            }
            .input-group-text {
                padding: 10px 10px 10px 0px;
            }
            .promo-icon{
                visibility: hidden;
                transform: scale3d(0,0,1);
                @include hover-transition;
                &.visible {
                    visibility: visible;
                    transform: scale3d(1,1,1);
                }
            }

            .rocket-overlay{
                position: absolute;
                top: -40px;
                right: -180px;
                width: 220px;
                z-index: 99;
            }

            .code-group{
                span{
                    color:#51B7CC;
                    font-size: 0.7rem;
                    font-weight: bold;
                    cursor: pointer;
                    @include hover-transition;
                    &:hover{
                        color: $color-blue;
                        text-decoration: underline;
                    }
                }
            }
            
            .btn {
                background-color: #51CCB2;
                color:white;
                padding: 10px;
                width: 100%;
                img{
                    margin-right:8px;
                }
            }

            .validation-errors {
                color:red;
            }
        }
    }

    .logo-block {
        padding-top:3.5rem;
        h5 {
            color: #808080;
            text-transform: uppercase;
            font-size:.8rem;
            margin-bottom:1rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }
        .client {
            height: 25px;
            margin: 0 30px 30px 30px;
        }
    }
    .cloud {
        position: absolute;
        @media (min-width: 1271px) {
            &.right {
                right: -90px;
                top: 20px;
            }
            &.left {
                left: -60px;
                top: 0px;
            }
        }
        @media (min-width: 993px) and (max-width: 1920px) {
            &.right {
                right: -150px;
                top: 20px;
            }
            &.left {
                left: -150px;
                top: 0px;
            }
        }
        @media (min-width: 720px) and (max-width: 992px) {
            &.right {
                right: -250px;
                top: 20px;
            }
            &.left {
                left: -250px;
                top: 30px;
            }
        }
        @media (min-width: 0px) and (max-width: 719px) {
            &.right,
            &.left {
                display: none;
  
            }
        }
    }
}