.offer_main_cards_omnichannel_component{
    margin-top:140px;
    .markopolo {
        margin-top: $big-mar;
    }
    .polopolo {
        border: 1px solid #e8e8e8;
    }
    .omnichannel-header {
        
        h2 {
            @extend %offer_title_bold;
        }
    
        h3{
            @extend %offer_subtitle_bold;
            margin-top:30px;
            font-size:1rem;
        }
        img {
            margin-top:30px;
        }
    }

    .omnichannel-middle {
        

            .wave-container{
                min-height: 180px;
                position: relative;
                .icon-white{
                    height: 30%;
                    top: 15%;
                    width: 100%;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                img {
                    width: 100%;
                }
            }
            

            

    }

    .button-bar {
        margin-top: 60px;
    }
}