.offer_main_security_component{
    padding-top:90px;

    .second {
        margin-top:60px;
        h2{
            @extend %offer_title_bold;
            font-size:3.2rem;
        }
    }

    .third {
        margin-top: 60px;
        .security-changer{
            ul {
                list-style: none;
                padding-left:0;
                .handler{
                    cursor: pointer;
                    border-radius: $radius-5;
                    font-size:0.8rem;
                    font-weight: bold;
                    margin-bottom:20px;
                    display: inline-block;
                    padding: 10px;
                    background: #ffffff;
                    &.open {
                        background-color: $color-yelllow2;
                    }
                    @include media-breakpoint-down(sm){
                        font-size:11px;
                        padding-left:5px;
                        padding-right:5px;       
                    }

                    
                }
                @include media-breakpoint-down(sm){
                    display:flex;
                    justify-content: space-between;

                }
            }
            .table{
                display:none;
                &.open{
                    display:block;
                    .idiconsvg {
                        position: absolute;
                        opacity: .2;
                        bottom:0;
                        right:0;
                        height:70%;
                    }
                }
            }
            .col-left {
                text-align: right;
                position: relative;
            }
            .selectors {
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: '';
                    height: 100%;
                    width: 1px;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63c9ac+0,42a7e6+100 */
                    background: rgb(99,201,172); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(99,201,172,1) 0%, rgba(66,167,230,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(99,201,172,1) 0%,rgba(66,167,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(99,201,172,1) 0%,rgba(66,167,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c9ac', endColorstr='#42a7e6',GradientType=0 ); /* IE6-9 */
                }
            }
            .col-right {
                text-align: left;
            }
            
        }
    }


    .fourth {
        padding-bottom: $big-pad;
    }


    .button-bar {
        margin-top: 60px;
    }
}