.offer_main_comment_component{
    margin-top:100px;
    @include media-breakpoint-down(md){
        margin-top:40px;
    };
    .image-col{
        .image-wrapper{
            z-index: 10;
            width: 92px;
            height: 92px;
            display: inline-block;
            overflow: hidden;
            position: relative;
            border-radius: 200px;
            border: 6px solid white;
            -webkit-box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            -moz-box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            img {
                
            }
            
        }
    }
    .content-col{
        .content-wrapper{
            border-radius: $radius-10;
            margin-top:-50px;
            padding:50px 30px 30px 30px;
            background-color:white;
            -webkit-box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            -moz-box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            box-shadow: 0px 0px 16px 12px rgba(0,0,0,0.09);
            h3{
                @extend %offer_subtitle_bold;
                margin-bottom:0px;
            }
            h4{
                @extend %offer_subtitle_bold;
                margin-bottom:10px;
                font-weight: normal;
            }
            .excerpt{
                font-size:0.8rem;
            }
            .url{
                a {
                    @extend %offer_subtitle_bold;
                    color: #212529;
                    &:hover{
                        color: #212529;
                    }
                    img {
                        margin-left:1rem;
                    }
                }
            }
        }
    }
}