.offer_merchant_panel_component {
    .dash {
        border-radius: 8px;
    border: 5px solid white;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    }
    .merchant-top-section {
        position: relative;
        .circle-right {
            position: absolute;
            top: -120px;
            right: -40%;
            height: 150vh;
        }
        margin-top: 52px;
        .title {
            h2 {
                font-size: 2.2rem;
                letter-spacing: 0.05rem;
            }
        }
        .button {
            margin-top: 2rem;
            margin-bottom: 2rem;
            .merchant {
                border: 2px solid $text-blue;
                font-size: 2.2rem;
                border-radius: $radius-10;
                padding: 0.3rem 1.5rem;
                display: inline-block;
            }
            .cloud-left {
                position: absolute;
                left: 50px;
                top: -25px;
                @include media-breakpoint-down(md){
                    display:none;
                };
            }
            .cloud-right {
                position: absolute;
                right: 112px;
                @include media-breakpoint-down(md){
                    display:none;
                };
            }
        }
        .preview {
            .macbook-screen {
                z-index: 100;
                position: relative;
                margin-top: 20px;
            }
            .steering-wheel {
                position: absolute;
                bottom: 20px;
                left: 173px;
                z-index: 0;
                @include media-breakpoint-down(md){
                    display:none;
                };
            }
        }
        .screenshot {
            margin-top: 7rem;
            h3 {
                font-size: 1.5rem;
                margin-bottom: 32px;
            }
            p {
             
            }
        }
    }
    .merchant-bottom-section {
        margin-top: 13rem;
        @include media-breakpoint-down(sm){
            margin-top: 80px;
        }
        position:relative;
        .circle-left {
            position: absolute;
            top: -120px;
            left: -40%;
            height: 150vh;
        }
        .file-export {
            .extension {
                @include media-breakpoint-down(sm){
                    order:  2;
                }
            }
            .export-copy {
                @include media-breakpoint-down(sm){
                    order:  1;
                    padding-bottom: $big-pad;
                }
            }
            span {
                font-size: 1.5rem;
            }
        }
        .desktop-panel {
            margin-top:17rem;
            @include media-breakpoint-down(sm){
                margin-top: 80px;
            }
            h3{
                font-size:1.5rem;
                margin-bottom: 5rem;
            }
            ul {
                @include media-breakpoint-down(sm){
                    margin-top: $medium-mar;
                };
                list-style: none;
                padding-left:0;
                li {
                    background-image: url('./assets-offer-merchant-panel/check-circle-blue.svg');
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding-left: 30px;
                    line-height: 2.6rem;
                }
            }
            .realtime {
                position: absolute;
                right:40px;
                top:-32px;
                z-index: -1;
                @include media-breakpoint-down(sm){
                   right: -50%;
                };
            }
        }

        .mobile-panel{
            margin-top:14rem;
            @include media-breakpoint-down(md){
                margin-top: 80px;
            }
            .content {
                @include media-breakpoint-down(md){
                    order: 3;
                }
            }
            .button-bar {
                @include media-breakpoint-down(md){
                    padding-bottom:20px;
                } 
            }
            
            h3 {
                @include font-lg;
                font-weight: 500;
            }
            p {
                padding-top: $medium-mar;
                padding-bottom: $big-mar;
                @include media-breakpoint-down(md){
                    
                }
            }
            img {

            }
            .phone {
                @include media-breakpoint-down(md){
                    padding-bottom: $big-mar;
                    order: 1;
                }
                img {
                    max-width: 250px;
                }
            }
        }
    }
}