.offer_main_admin_panel_component{
    margin-top:60px;
    .second, .third {
        margin-top: $big-mar;
        margin-bottom: $big-mar;
    }
    .second {
        h3 {
            @include font-md;
        }
    }
    .panel {
        @include media-breakpoint-down(md){
            margin-top:-50px;
        }
        h3{
            margin-top:10px;
            @include font-xl;
            font-weight:normal;
        }
    }
    h2{
        @extend %offer_title_bold;
        font-size:3.8rem;
    }

    
    .panel-feature {
        @include media-breakpoint-down(sm){
            margin-bottom: $big-mar;
        }
    }
    .button-bar {
        margin-top: 40px;
        @include media-breakpoint-down(md) {
            justify-content: center!important;
         }
    }

    .fourth {
        
        .text-right{
            @include media-breakpoint-up(md){
                padding-right:3rem;
            }
            @include media-breakpoint-down(md){
                text-align: center!important;
            }
        }
        .text-left{
            @include media-breakpoint-up(md){
                padding-left:3rem;
            }
            @include media-breakpoint-down(md){
                text-align: center!important;
            }
        }

        h3 {
            font-weight: bold;
            font-size:1.4rem;
            margin-top:20px;
        }
        h4 {
            font-weight: bold;
            font-size:1.1rem;
            margin-top:10px;
        }
        p {
            font-size:0.8rem;
        }
        h5 {
            font-weight: bold;
            font-size:0.8rem;
            margin-top:10px;
        }
    }

}