.showicon {
    @include media-breakpoint-down (sm) {
        max-width: 200px!important;
    }
}

.offer_international_payments {

    .countries {
        display: inline-block;
        text-align: left;
        margin-top: $medium-mar;
        a {
            margin: 0 $small-mar 10px 0;
            @include font-xs;
            color: $color-gray;
            display: inline-block;
            @include hover-transition;
            &:hover {
                color: $color-blue;
            }
        }
    }

    @mixin set-picture-absolute ($url, $width, $height) {
        background-image: $url;
        background-repeat: no-repeat;
        background-size: 100%;
        width: $width;
        height: $height;
        position: absolute;
        z-index: -1;
	}
	
	@mixin set-description {
		@include font-md();
		margin-bottom: $margin-xxl;            
		@include media-breakpoint-down (sm) {
			@include font-sm(); 
			width: 100%;    
		}
	}

	text-align: center;
	
	.header,
	.center,
	.footer {
		@include media-breakpoint-down (xs) {
			padding-left: $medium-pad;
			padding-right: $medium-pad;
		}
	} 

    .header {
        .title {
			margin-top: $margin-xxl;
			margin-bottom: $medium-mar;
			font-weight: 700;
            @include font-xl();
			@include media-breakpoint-down (sm) {
				@include font-lg();
			}
        }

        .description {
			@include set-description();
            font-weight: 600;
			
			@include media-breakpoint-down (sm) {
				margin-bottom: 90px;
			}
        }

        .globe-image {
            position: relative;
            width: 100%;
            margin-bottom: $margin-xxl;

            .space {
                @include set-picture-absolute (url('assets-international-payments/space.svg'),
                101px,
                168px);
                z-index: 10;
                top: -46px;
                right: 77px;
                @include media-breakpoint-down (xl) {
                    right: -96px;
                }
                @include media-breakpoint-down (md) {
                    right: -73px;
                }
                @include media-breakpoint-down (sm) {
                    right: 0;
                    top: -64px;
                    width: 88px;
                    height: 155px;
                }
                @include media-breakpoint-down (xs) {
					right: 0;
					top: -75px;
                }
            }
            .cloud-left {
                @include set-picture-absolute (url('assets-international-payments/cloud-left.svg'),
                293px,
                185px);
                z-index: 10;
                top: -34px;
                left: -116px;
                @include media-breakpoint-down (xl) {
                    top: -94px;
                    left: -153px;
                }
                @include media-breakpoint-down (lg) {
                    top: -82px;
                    left: -150px;
                }
                @include media-breakpoint-down (md) {
                    top: -88px;
                    left: -113px;
                    width: 254px;
                    height: 167px;
                }
                @include media-breakpoint-down (sm) {
                    top: -73px;
                    left: -10px;
                    width: 174px;
                    height: 167px;
                }
            }
            .cloud-right {
                @include set-picture-absolute (url('assets-international-payments/cloud-right.svg'),
                293px,
                185px);
                z-index: 10;
                top: 148px;
                right: -116px;
                @include media-breakpoint-down (xl) {
                    top: 384px;
                    right: -162px;
                }
                @include media-breakpoint-down (lg) {
                    top: 351px;
                    right: -127px;
                }
                @media screen and (max-width: 750px) {
                    display: none;
                }
            }
            .euro {
                @include set-picture-absolute (url('assets-international-payments/euro.svg'),
                169px,
                209px);
                top: 291px;
                left: -165px;
                @include media-breakpoint-down (lg) {
                    top: 404px;
                    left: -120px;
                }
                @include media-breakpoint-down (md) {
                    top: 466px;
                    left: -113px;
                }
                @include media-breakpoint-down (sm) {
                    top: 275px;
                    left: -51px;
                    width: 100px;
                }
                @include media-breakpoint-down (xs) {
                    top: 307px;
                    left: -2px;
                }
            }
        }
    }

    .center {
        position: relative;
        margin-bottom: $margin-xxl;
        .title {
			@include font-lg();
			font-weight: 600;
			margin-bottom: $medium-mar;
			@include media-breakpoint-down (sm) {
				@include font-md();
			}
        }

        .description {
            width: 70%;
			margin-left:  auto ;
			margin-right: auto;
			@include set-description();
        }

        .btn-wrapper {
            .btn-transparent {
                color: #4d8dde;
            }
        }

        .yen {
            @include set-picture-absolute (url('assets-international-payments/yen.svg'),
            167px,
            207px);
            top: -165px;
            right: -177px;
            @include media-breakpoint-down (xl) {
                right: -137px;
                top: 35px;
            }
            @include media-breakpoint-down (lg) {
                right: -113px;
                top: 63px;
            }
            @include media-breakpoint-down (md) {
                right: -102px;
                top: 66px;
            }

            @include media-breakpoint-down (sm) {
                right: -47px;
                top: -104px;
                width: 100px;
            }
            @include media-breakpoint-down (xs) {
                right: 0;
                top: -69px;
            }
        }

        .pound {
            @include set-picture-absolute (url('assets-international-payments/pound.svg'),
            153px,
            206px);
            top: 166px;
            left: 31px;
            @include media-breakpoint-down (xl) {
                left: -79px;
            }
            @include media-breakpoint-down (lg) {
                top: 197px;
                left: -105px;
            }
            @include media-breakpoint-down (md) {
                top: 232px;
                left: -93px;
            }
            @include media-breakpoint-down (sm) {
                top: 311px;
                left: -65px;
                width: 100px;
            }
            @include media-breakpoint-down (xs) {
                top: 361px;
                left: 0;
            }
        }

        .dollar {
            @include set-picture-absolute (url('assets-international-payments/dollar.svg'),
            147px,
            273px);
            top: 310px;
            right: -68px;
            @include media-breakpoint-down (xl) {
                right: -108px;
            }
            @include media-breakpoint-down (md) {
                top: 339px;
                right: -87px;
            }
            @include media-breakpoint-down (sm) {
                top: 385px;
                right: -53px;
                width: 100px;
            }
            @include media-breakpoint-down (xs) {
                top: 477px;
                right: 12px;
            }
        }
    }

    .footer {
		.description {
            width: 70%;
			margin-left:  auto ;
			margin-right: auto;
			@include set-description();
			// margin-bottom: $medium-mar;
        }
        .bottom-text {
            position: relative;
            text-align: left;
            @include font-sm();
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-down (md) {                
                width: 100%;
            }
            &:before {
                position: absolute;
                content: ' ';
                width: 100%;
                height: 1px;
                bottom: -16px;
                left: 0;
                background-image: linear-gradient( to right, #aadba8, #57bdbd, #61b1e7);

            }
        }
    }
}
