.offer_main_integrations_component {
    margin-top:20px;
    .oil {
        align-items: flex-end;
        justify-content: center;
        align-content: flex-end;
        justify-items: center;
        display: flex;
        position: absolute;
        right: -150px;
        bottom: 0;
        @media (min-width: 1280px) {
            width: 420px;
            height: 420px;
        }

        @media (min-width: 992px) and (max-width: 1280px) {
            width: 300px;
            height: 300px;
        }
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    h2 {
        @extend %offer_title_bold;
    }

    h3{
        @extend %offer_subtitle_bold;
        margin-top:30px;
    }
    .button-bar {
        margin-top: 60px;
    }

    .explore-integrations{
        margin-top:80px;
        margin-bottom:60px;
    }

    .explore-logos {
        img {
            margin-bottom:20px;
        }
    }
}