.offer_main_preview_article_component{
    margin-top:100px;
    @include media-breakpoint-down(md){
        margin-top:60px;
    }
    .icon {
        margin-bottom:20px;
        img{
            height:120px;
        }
        @include media-breakpoint-down(sm){
            text-align: center;
        }
    }
    .title{
        @extend %offer_subtitle_bold;
        margin-bottom:20px;
    }
    .excerpt{
        font-size:0.8rem;
    }
    .url {
        a {
            @extend %offer_subtitle_bold;
            color: #212529;
            @include hover-transition;
            &:hover{
                color: $color-blue--deep;
            }
            img {
                margin-left:1rem;
            }
        }
    }
}