.offer_main_preview_article_minimal_component{
    padding: 0 20px;
    margin-bottom: $medium-mar;
    h4{
        @extend %offer_subtitle_bold;
    }
    p{
        font-size:0.9rem;
    }
    .url {
        a {
            @extend %offer_subtitle_bold;
            color: #212529;
            &:hover{
                color: #212529;
            }
            img {
                margin-left:1rem;
            }
        }
    }
}