.offer_main_integrations_second_component {
    margin-top:100px;

    h2 {
        @extend %offer_title_bold;
    }
    .boat {
        @include media-breakpoint-down(sm){
            order: 1;
            margin-bottom: $medium-mar;
        }
    }
    .content {
        @include media-breakpoint-down(sm){
            order: 2;
        }
    }
    
    h3{
        @extend %offer_subtitle_bold;
        margin-top:30px;
        
    }

    .twoclouds { 
        position:absolute;
        left:-460px;
        top:-180px;
    }

    .integrations-middle{
        margin-top:40px;
    }
    .integrations-end {
        margin-top: 120px;
        margin-bottom: 120px;
    }
}