.offer_main_intro_component {
    margin-top:36px;
    background-image: url('assets-offer-main/waves.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    padding-bottom:16rem;
    padding-top: 80px;
    @include media-breakpoint-down(md){
        padding-bottom: 8rem;
    }
    @include media-breakpoint-down(sm){
        padding-bottom: 6rem;
    }
    
    h2 {
        @extend %offer_title_bold;
    }
    .separator {
        background-image: url('assets-offer-main/separator.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 6px;
        margin: 40px;
        
    }
    .description{
        font-size:1.1rem;
    }
    .button-bar {
        margin-top: 60px;
    }
}