.offer_main_integrations_third_component {
    margin-top: 120px;
    h2{
        @extend %offer_title_bold;
    }
    h3{
        @extend %offer_subtitle_bold;
        margin-top:30px;
    }
    .button-bar {
        margin-top: 60px;
    }
    .big-ship {
        position:absolute;
        right:20px;
        width: 21vw;
        @include media-breakpoint-down(md){
            display:none;
        }
        @media all and (min-width: 1800px){
            right:-250px;
        }
    }
    .cloud1{
            
    }
    .cloud1_inv{
        position:absolute;
        left:-288px;
        top:-10px;
    }
}