.ebook_single_component {
    margin-top: 120px; 
    .cover-side {
        align-items: flex-end;

        .main-title {
            text-align: left;
            font-size: 2.2rem;
            margin-bottom: $small-mar;
            align-self: flex-start;
            @include media-breakpoint-down(sm) {
                padding: 0 $small-pad;
                margin-bottom: $medium-mar;
                font-size: 1.6rem;
            }
            @include media-breakpoint-up(md) {
                align-self: flex-end;
                text-align: right;
            }
        }

        .cover-image {
            align-self: center;
            margin-bottom: $medium-mar;
            @include media-breakpoint-up(md) {
                margin-bottom: $small-mar;
                align-self: flex-end;
            }
        }

        .social-wrapper {
            img {
                padding: 5px;
            }
            @include media-breakpoint-down(sm) {
                padding: 0 $small-pad;
                margin-bottom: $medium-mar;
            }
        }
    }

    .description-side {

        .description-wrapper {
            color: #5f5f5f;
            @include media-breakpoint-down(sm) {
                padding: 0 10px;
                margin-bottom: $medium-mar;
            }
        }

        align-items: flex-start;
        font-size: 0.9rem;
        @include media-breakpoint-up(md) {
            border-left: 1px solid #969696;
        }

        .tags-wrapper {
            @include media-breakpoint-down(sm) {
                padding: 0 10px;
                margin-bottom: $medium-mar;
            }

            .tag-flag {
                font-weight: bold;
                padding-left: 5px;
                padding-right: 10px;
            }

            ul {
                display: inline;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    color: #5f5f5f;
                    display: inline;
                    margin: 0;
                    padding: 0;
                }

                li:first-of-type {
                    color: #49b2ee;
                }
            }
        }

        .ebook-send-form-wrapper {
            width: auto;
            @include media-breakpoint-down(sm) {
                margin-bottom: $medium-mar;
                padding: 0 $small-pad;
                width: 320px;
                max-width: 100%;
                align-self: center;
            }

            .ebook-send-form {
                align-self: center;
                position: relative;
                border: 3px solid #51b5ca;
                border-radius: $radius-10;
                margin-top: $medium-mar;
                height: 195px;
                width: 320px;
                max-width: 100%;
                padding: 15px 10px;
                box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.2);
                @include media-breakpoint-up(md) {
                    align-self: flex-start;
                }

                .email-input {
                    border-bottom: 2px solid #51b5ca;
                    width: 100%;

                    .icon {
                        position: absolute;
                        content: ' ';
                        width: 22px;
                        height: 16px;
                        top: 23px;
                        left: 13px;
                        background-image: url('assets-ebook/mail-sea.svg');
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }

                    input {
                        border: none;
                        font-size: 0.8rem;
                        width: 100%;
                        padding: 6px 10px 7px 35px;
                    }

                    input:focus {
                        outline: transparent;
                    }
                }

                .policy-link {
                    padding: 0 0;
                    text-align: center;
                    padding: 30px 0 25px;
                    height: 75px;
                    font-size: 0.8rem;
                }

                button {
                    font-size: 0.8rem;
                    border: none;
                    background: #50cbb2;
                    border-radius: $radius-5;
                    color: white;
                    width: 100%;
                    height: 50px;
                    cursor: pointer;
                    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
                }

                button:focus {
                    outline: transparent;
                }

                button span {
                    position: relative;
                }

                button span span:before {
                    position: absolute;
                    left: -25px;
                    content: ' ';
                    width: 16px;
                    height: 16px;
                    background-image: url('assets-ebook/send-white.svg');
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
        }
    }
}
