.payment_methods_clouds_component {
    height: 350px;
    .cloud {
        height: 170px;
		position: absolute;
		img {
			max-width: 550px;
		}
		
		@include media-breakpoint-up(lg) {

		}
		@include media-breakpoint-up(xl) {

		}
	}
	.one {
		left: -20%;
		top: 5%;
		@include media-breakpoint-down(md) {
			left: 20%;
		}
		@include media-breakpoint-down(md) {
			left: 0;
		}
		
	}
	.two {
		left: 40%;
		top: 40%;
		@include media-breakpoint-down(md) {
			left: 70%
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.three {
		right: -25%;
		top: 10%;
	}
}
