.home_business_integrations_component{
    @include media-breakpoint-up(lg){
        margin-top:180px;
        margin-bottom:180px;
    }
    @include media-breakpoint-up(md){
        margin-top:80px;
        margin-bottom:80px;
    }
    @include media-breakpoint-down(sm){
        margin-top:40px;
        margin-bottom:40px;
    }

    .icon-holder {
        max-width: 480px;
    }
    .claim-holder {
        max-width: 610px;
    }
    h3 {
      @include font-xl;
      font-weight: 600;
      margin-top:2.2rem;

    }
    p{
       margin-top: 1rem;
       @include media-breakpoint-up(md){
        margin-right: 4rem;
       }
    }

    .image-col{
        @include media-breakpoint-down(md){
            text-align: center;
        }
    }

    .description-col{
        @include media-breakpoint-down(md){
            text-align: left;
        }
        @include media-breakpoint-down(sm){
            text-align: left;
        }
        .button-bar {
            margin-top:2rem;
            span {
                margin-left: $small-mar;
                margin-right: $small-mar;
            }
        }
    
        .logo-bar {
            margin-top:2.2rem;
            @include media-breakpoint-down(md){
                text-align: center;
            } 
            @include media-breakpoint-down(sm){
                text-align: center;
            } 
            
            img {
                margin-right: $small-mar;  
                
            }
            @include media-breakpoint-down(md){
                flex-flow: column;
                img {
                    margin-top:0.8rem;
                }
            }
        }
    
    }
}