.countries_single {
    overflow: hidden;

.container1440 {
	margin: 0 auto;
}
    

    .country-information {
        margin-top: $margin-xxl;
        margin-bottom: $big-mar;
        .country-flag {       
            .flag-img {
				display: inline-block;
				box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2); 
                img {
                    width: 210px;
                    @include media-breakpoint-down(xs) {
						width: 170px;
                    }
                }
            }
            .currency {
				@include font-sm;
				font-weight: 700;
                color: #9a9a9a;
                margin-top: $small-mar;
                margin-bottom: 0;
            }
            .currency-unit {
                @include font-sm;
                font-weight: 700;
                color: #4b4b4b;
            }
        }

        .country-description {
            min-height: 258px;           
            .title {
                @include font-xl;
                @include media-breakpoint-down(xs) {
                    @include font-lg;
                }
                font-weight: normal;
                margin-bottom: $medium-mar;
            }
            p {
                @include font-xs;
            }
        }
    }

    .clouds-section {
        padding-top: $medium-pad;
        padding-bottom: $medium-pad;
        margin-bottom: $big-mar;
        position: relative;
        min-height: 400px;
        @include media-breakpoint-down(lg) {
            background: url('assets-countries/wave-grey.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .wave {
            position: absolute;
            width: 100%;
            top: 0;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        .cloud {
            @include media-breakpoint-down(md) {
                width: 185px;
            }
            @include media-breakpoint-down(xs) {
                width: 100px;
            }
        }
        .left-cloud {
            position: absolute;
            left: -30px;
            bottom: -50px;
            @include media-breakpoint-down(xs) {
                bottom: 10px;
            }
        }
        .right-cloud {
            position: absolute;
            right: -30px;
            top: -50px;
            @include media-breakpoint-down(xs) {
                top: -10px;
            }
        }

        @mixin set-size() {
            height: 210px;
        }

        .title {
            @include set-size();
            @include font-md();
            @include media-breakpoint-down(xs) {
                @include font-sm;
            }
            width: 40%;
            @include media-breakpoint-down(xs) {
                width: 50%;
            }
            font-weight: 700;
			margin-right: 16px;
			margin-bottom: 0;
            position: relative;
            &:before {
                content: ' ';
                width: 1px;
                height: 100%;
                background: #bdbdbd;
                position: absolute;
                right: -16px;
                top: 0;
            }
        }

        ul {
            @include set-size();
            @include font-sm();
            @include media-breakpoint-down(xs) {
                @include font-xs;
            }
            width: 60%;
            @include media-breakpoint-down(xs) {
                width: 50%;
            }
            padding: 0;
            margin: 0 16px;
            list-style: none;
            height: auto;
        }
    }

    .aditional-info-section {
		margin-bottom: $medium-mar;
        @include font-sm();
        .title {
            @include font-lg();
            @include media-breakpoint-down(xs) {
                @include font-lg;
            }
        }

        h5 {
            @include font-md();
            font-weight: 700;
        }
    }

    .btn-section {
        .btn-bar {
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;
            @include media-breakpoint-down(xs) {
                flex-direction: column;
            }
            span {
                margin: 16px;
            }
        }
    }
}
