/* variables section */
$font-family-sans-serif: 'Nunito',sans-serif;
$text-black: #000000;
$text-grey--deep: #808080;
$text-white: #ffffff;
$text-blue: #2AA9EE;
$text-blue--deep:#007bff;
$text-blue--verydeep:#0056b3;

$color-yellow: #FFD204;
$color-yelllow2: #fed82e;
$color-blue: #2AA9EE;
$color-blue--deep:#007bff;
$color-gray: #4A4A4A;
$color-marine: rgba(80, 203, 178, 1);
$color-marine-half: rgba(80, 203, 178, 0.5);
$color-marine-blue: #51B7CC;
$margin-xl: 40px;
$margin-xxl: 60px;
$padding-outer-mobile: 30px;

$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;

$small-pad: 15px;
$small-mar: 15px;

$medium-pad: 30px;
$medium-mar: 30px;

$big-pad: 40px;
$big-mar: 40px;



@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&subset=latin-ext');
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/prismjs/themes/prism-tomorrow.css";
@import "./node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "./node_modules/prismjs/plugins/toolbar/prism-toolbar.css";

@import "./assets-blog/video-js.css";

/* import componenets*/
@import "./mixins.scss";
@import "./top_menu_component/top_menu_component.scss";
@import "./home_rainbow_jumbotron_component/home_rainbow_jumbotron_component.scss";
@import "./home_business_integrations_component/home_business_integrations_component.scss";
@import "./home_world_range_component/home_world_range_component.scss";
@import "./home_api_intro_component/home_api_intro_component.scss";
@import "./home_advantages_component/home_advantages_component.scss";
@import "./home_newsletter_component/home_newsletter_component.scss";
@import "./home_separator_dotted/home_separator_dotted.scss";

@import "./full_image_title_header/full_image_title_header.scss";
@import "./blog_submenu_component/blog_submenu_component.scss";
@import "./blog_preview_component/blog_preview_component.scss";
@import "./blog_full_image_title_header/blog_full_image_title_header.scss";
@import "./blog_single_content/blog_single_content.scss";
@import "./blog_featured/blog_featured.scss";

@import "./custom_pagination_component/custom_pagination_component.scss";

@import "./register_form_component/register_form_component.scss";

@import "./logo_rotator_component/logo_rotator_component.scss";

@import "./payment_methods_rocket_component/payment_methods_rocket_component.scss";
@import "./payment_methods_clouds_component/payment_methods_clouds_component.scss";
@import "./payment_methods_planes_component/payment_methods_planes_component.scss";
@import "./payment_methods_pay_card_component/payment_methods_pay_card_component.scss";
@import "./payment_methods_paper_plane_component/payment_methods_paper_plane_component.scss";
@import "./payment_methods_banks_logos_component/payment_methods_banks_logos_component.scss";
@import "./payment_methods_launchpad_component/payment_methods_launchpad_component.scss";
@import "./payment_single/payment_single.scss";

@import "./faq_header_component/faq_header_component.scss";
@import "./faq_section_viewer_component/faq_section_viewer_component.scss";
@import "./faq_call_us_component/faq_call_us_component.scss";

@import "./devzone_section_viewer_component/devzone_section_viewer_component.scss";

@import "./oferta/offer_main_intro_component.scss";
@import "./oferta/offer_main_integrations_component.scss";
@import "./oferta/offer_main_integrations_second_component.scss";
@import "./oferta/offer_main_integrations_third_component.scss";
@import "./oferta/offer_main_cards_omnichannel_component.scss";
@import "./oferta/offer_main_preview_article_component.scss";
@import "./oferta/offer_main_preview_article_minimal_component.scss";
@import "./oferta/offer_main_admin_panel_component.scss";
@import "./oferta/offer_main_security_component.scss";
@import "./oferta/offer_main_comment_component.scss";
@import "./oferta_single/oferta_single.scss";
@import "./oferta_single/oferta_promo.scss";
@import "./oferta/offer_international_payments.scss";
@import "./oferta/offer_merchant_panel_component.scss";

@import "./countries_single/countries_single.scss";

@import "./legal_single_component/legal_single_component.scss";
@import "./ebook_single_component/ebook_single_component.scss";
@import "./ebook_preview_component/ebook_preview_component.scss";
@import "./newsletter/newsletter_header_component.scss";
@import "./newsletter/newsletter_form_component.scss";
@import "./newsletter/newsletter_footer_component.scss";
@import "./pricing_header_component/pricing_header_component.scss";
@import "./pricing_train_component/pricing_train_component.scss";
@import "./pricing_logo_rotator_component/pricing_logo_rotator_component.scss";
@import "./pricing_footer_component/pricing_footer_component.scss";
@import "./press/press_menu.scss";
@import "./press/press_title_header.scss";

@import "./legal/legal-loop.scss";

@import "./learn/learn_header.scss";
@import "./learn/learn_loop.scss";

@import "./about/about.scss";

@import "./contact/contact-style.scss";
@import "./contact/contact-box.scss";
@import "./work_header/work_header.scss";
@import "./full_width_stripes_grey/full_width_stripes_grey.scss";
@import "./work_offer_table/work_offer_table.scss";
@import "./work_single_job_descryption/work_single_job_descryption.scss";
@import "./work_single_members_img/work_single_members_img.scss";

@import "./partnership/partner.scss";

@import "./footer_component/footer_component.scss";

@import "./assets-errors/errors.scss";

.page-template-page-partnership-php {
    overflow-x: hidden;
}

/*
*Wordpress must-have css classes
*/
.pomelo {
    overflow-x: hidden;
}
.highlight-blue a{
    color: $color-blue!important;
}
.highlight-red a{
    color: red!important;
}
img {
    max-width: 100%;
}

.social-icon {
    cursor: pointer;
}

.blog {
    &.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-left: 25px;
    margin-top: -25px;
    margin-bottom: 80px;
    }
}

.copyright {
    text-align: center;
    color: #9b9b9b;
    padding-bottom: $big-mar;
    @include font-sm;
}
.form-error {
    font-size: 12px;
    font-weight: bold;
    color: red;
}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.corrector {
    padding-top: 82px;
}
.admin-corrector{
    padding-top: 82px;
}
.container1920{
    @include media-breakpoint-up(md) {
    max-width: 1920px;
    }
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container1440{
    @include media-breakpoint-up(lg) {
    max-width:1440px;
    margin: auto;
    }
}
.overflowed {
    overflow-x: hidden;
}

/* page customization*/
a:hover {
    //never oldschool circus!!!
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    padding: 0;
    @include hover-submit;
    &:focus {
        outline: none;
    }
    &.btn-small {
        font-size:12px;
        padding:.6rem 1.9rem;
        font-weight: 700;
    }

    &.btn-medium {
        font-size:14px;
        padding:.8rem 2.1rem;
        font-weight: 700;
    }
    &.btn-fixed-medium {
        font-size:14px;
        width: 175px;
        height: 55px;
        font-weight: 700;
        line-height: 3.2rem;
    }
    &.btn-fixed-big {
        font-size:14px;
        width: 233px;
        height: 60px;
        font-weight: 700;
        line-height: 3.6rem;
    }
    &.btn-big {
        font-size:14px;
        padding:.8rem 2.1rem;
        font-weight: 700;
    }

    &.btn-yellow {
        color: #000;
        background-color: #F7CC2D;
        border-color: #F7CC2D;
    }

    &.btn-blue {
        color: #fff !important;
        background: #2AA9EE;
        border-color: #2AA9EE;
    }
    &.btn-blue-gradient {
        color: #fff !important;
        background: linear-gradient(#679CF6,#4AA0E9);
        border-color: #679CF6;
    }
}

/*
*Utilities
*/
.separator {
    &-gradient,
    &-black,
    &-grey,
    &-deepgrey,
    &-grey-gradient {
        &--full-width {
            width: 100%;
        }
        &--half-width{
            width: 50%;
        }
    }

    &-grey-gradient--full-width, &-grey-gradient--half-width  , &-deepgrey--full-width,&-grey--full-width, &-black--full-width, &-gradient--full-width {
        max-width: 100%;
        height: 1px;
        border-radius: $radius-15;
    }

    &-grey--full-width {background: #f2f2f2;}

    &-deepgrey--full-width {background: #bebebe;}

    &-black--full-width {background: #000000;}

    &-gradient--full-width {
        background: #f2f2f2; /* Old browsers */
        background: -moz-linear-gradient(left, #ffe56f 0%, #63c9ac 50%, #42a7e6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffe56f 0%,#63c9ac 50%,#42a7e6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffe56f 0%,#63c9ac 50%,#42a7e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe56f', endColorstr='#42a7e6',GradientType=1 ); /* IE6-9 */
    }

    &-grey-gradient--full-witdh, &-grey-gradient--half-witdh{
        background: #f6f6f6; /* Old browsers */
        background: -moz-linear-gradient(left, #f6f6f6 0%, #d8d8d8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f6f6f6 0%,#d8d8d8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f6f6f6 0%,#d8d8d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */
    }
}



.button-bar {
    @include media-breakpoint-down(sm){
        flex-direction: column;
    }
    @include media-breakpoint-up(md){
        flex-direction: row;
    }
    display: flex;
    align-content: center;
    align-items: center;
    &.left {
        justify-content: flex-start;
        justify-items: flex-start;
    }
    &.right {
        justify-content: flex-end;
        justify-items: flex-end;
    }
    &.center {
        justify-content: center;
        justify-items: center;
    } 
    span {
        @include media-breakpoint-up(md){
            margin: 0 $small-mar;
        }
        @include media-breakpoint-down(sm){
            margin: $small-mar 0;
        }
       
    }
}

.ss-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
  }
  
  .ss-content {
    height: 100%;
    width: calc(100% + 18px);
    padding: 0 0 0 0;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
  }
  
  .ss-content.rtl {
    width: calc(100% + 18px);
    right: auto;
  }
  
  .ss-scroll {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 9px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
  }
  
  .ss-hidden {
    display: none;
  }
  
  .ss-container:hover .ss-scroll,
  .ss-container:active .ss-scroll {
    opacity: 1;
  }
  
  .ss-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .displayover {
    padding-top: 90px;
    z-index: 99;
    .register_form_component {width: 100%}
    position: fixed;
    width: 100%;
    height: 0%;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    &.active {
        animation: popover .7s ease-in-out normal forwards;
    }
}
@keyframes popover {
    0% {
        opacity: 0;
        display: flex;
        height: 0%;
    }
    10% {
        opacity: 0;
        display: flex;
        height: 100%;
    }
    100% {
        opacity: 1;
        display: flex;
        height: 100%;
    }
}