
/* Transition Mixins */

@mixin hover-submit {
    @include hover-transition;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    
    box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
    &:hover {
        @include hover-transition;
        transform: translate3d(0, -4px, 0);
        -webkit-transform: translate3d(0, -4px, 0);
        -moz-transform: translate3d(0, -4px, 0);
        -o-transform: translate3d(0, -4px, 0);
        box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
    }
    &:focus {
        @include hover-transition;
        transform: translate3d(0, -4px, 0);
        -webkit-transform: translate3d(0, -4px, 0);
        -moz-transform: translate3d(0, -4px, 0);
        -o-transform: translate3d(0, -4px, 0);
        box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
        outline: 0;
    }
    
}

@mixin hover-transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@mixin font-xs {
    font-size: 12px;
    line-height: 21px;
}
@mixin font-sm {
    font-size: 14px;
    line-height: 21px;
}
@mixin font-md {
    font-size: 18px;
    line-height: 24px;
}
@mixin font-lg {
    font-size: 24px;
    line-height: 36px;
}
@mixin font-xl {
    font-size: 36px;
    line-height: 48px;
}
@mixin font-xxl {
    font-size: 48px;
    line-height: 56px;
}

@mixin marine-gradient {
background: #63c9ac; /* Old browsers */
background: -moz-linear-gradient(left, #63c9ac 0%, #42a7e6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #63c9ac 0%,#42a7e6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #63c9ac 0%,#42a7e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c9ac', endColorstr='#42a7e6',GradientType=1 ); /* IE6-9 */
}

%offer_main_button_bar{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    span {
        margin: 0 16px;       
    }
    .btn {
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        
        @include media-breakpoint-up(lg){
            padding-left: 0;
            padding-right: 0;
            min-width: 14rem;
        }
        @include media-breakpoint-down(md){
            padding-left: 0;
            padding-right: 0;
            min-width: auto;
            width:100%;
            margin-bottom:20px;
            margin-top:20px;
        }
    }
}

%offer_title_bold{
    font-size: 2.2rem;
    font-weight: bold;
}

%offer_subtitle_bold {
    font-weight: bold;
    font-size:1rem;
    line-height: 1.6rem;
}