.work_offer_table {
    .table-title {
        @include font-sm();
        font-weight: 700;
        margin-bottom: $big-mar;
    }

    .table-body-row {
        margin-bottom: $medium-mar;
        .bolded {
            @include font-sm();
            font-weight: 700;
        }

        .table-row {
            padding: $small-pad;
            border-bottom: 1px solid #dbdbdb;
            display: flex;
            flex-direction: row;
            align-items: center;
            &.table-header {
                font-weight: 700;
                align-items: flex-end;
            }

            .cell {
                @include media-breakpoint-down(md) {
                    margin-bottom: $small-mar;
                }
                @include font-sm;
                span {
                    display: inline-block;
                }
            }

            .hide-label {
                align-self: flex-start;
                text-align: left;
                @include font-xs();
                padding-right: 0;
            }

            .btn {
                width: 136px;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                &.btn-blue {
                    margin-right: $small-mar;
                    @include media-breakpoint-down(xs) {
                        margin-right: 0;
                        margin-bottom: $small-mar;
                    }
                }
                &.btn-transparent {
                    box-shadow: none;
                    color: #4d8dde;
                }
            }

        }
    }

    .btn-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        @include media-breakpoint-down(md) {
            margin-top:$small-mar;
        }
        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }
        span {
            margin: 16px;
        }
    }

    .action-title {
        margin-top: $big-mar;
        margin-bottom: $medium-mar;
        color: $color-gray;
        font-weight: 300;
        @include font-lg;
        @include media-breakpoint-down(xs) {
			@include font-md;
		}

    }

}
