.pricing_train_component {

    .close {
        position: absolute;
        left: 20px;
        top: 100px;
        width: 40px;
        height: 40px;
        background: white;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 9999;
        border: 1px solid black;
        border-radius: 120px;
    }
    .register-box.noborder {
        border: 0px solid transparent;
    }
    .sales-wrapper, .contact-wrapper{
        text-align: center;
        margin-top: $big-mar;
        position: relative;
        transform: translateY(0px);
        @include hover-transition;
        &:hover {
            transform: translateY(-6px);
        }
        .subtitle {
            @include font-md;
            font-weight: 600;
            margin-bottom: $small-mar;
        }
    }

    .contact-wrapper {
        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: #bebebe;
        }
    }

    .support-form, .sales-form{
            min-width: 280px;
            width: 375px;
            max-width: 100%;
            border: 3px solid $color-marine-blue;
            border-radius: $radius-10;
            padding: $small-pad;
            display: inline-block;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            margin-bottom: $big-mar;

            .name-icon, .surname-icon,.email-icon,.company-icon,.website-icon,.phone-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .message-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 5px;
                    top: 5px;
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .name-icon:before {
                    background: url('contact/user.svg'); 
            }
            .surname-icon:before {
                background: url('contact/user.svg'); 
            }
            .email-icon:before {
                background: url('contact/mail.svg'); 
            }
            .company-icon:before {
                background: url('contact/paperclip.svg'); 
            }
            .website-icon:before {
                background: url('contact/book-open.svg'); 
            }
            .phone-icon:before {
                background: url('contact/phone.svg'); 
            }
            .message-icon:before {
                background: url('contact/feather.svg'); 
            }
            .submit:before {
                background: url('contact/send.svg'); 
            }
            
            p{
                margin: $small-mar 0 $medium-mar 0;
                @include font-sm;
            }

            button, input {
                width: 100%;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-bottom: 2px;
                @include font-sm;
                border-color: $color-marine-blue;
                border-style: solid;
                margin: $small-mar 0;
                padding: 0 0 8px $medium-pad;
                line-height: 18px;
                @include hover-transition;
                &:focus {
                    outline: none;
                    border-color: $color-marine;
                }
            }

            .submit {
                border:0px solid;
                position: relative;
                padding: $small-pad;
                border-radius: $radius-5;
                background: $color-marine;
                font-weight: 700;
                @include font-sm;
                color: #ffffff;
                margin: 0;
                @include hover-submit;
                &:before{
                    position: absolute;
                    content:'';
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }

            textarea {
                border: 0px;
                background: #e8e8e8;
                border-radius: $radius-5;
                width: 100%;
                min-height: 150px;
                padding: $small-pad $small-pad $small-pad $medium-pad;
            }
    }

    .contact-button,
            .register-button {
                position: absolute;
                left: 50%;
                bottom: 60px;
                transform: translateX(-50%)translateY(0px)!important;/** Very important override fro native -4px run **/
                &:hover{
                    transform: translateX(-50%)translateY(-4px)!important;/** Very important override fro native -4px run **/
                }
                @media (min-width: 993px) and (max-width: 1200px) {
                    bottom:80px;
                }
                @include media-breakpoint-down(md) {
                    bottom:80px;
                }
                @include media-breakpoint-down(sm) {
                    bottom:60px;
                }
            }

    @mixin small-frame($img-url-narrow) {
        background-image: $img-url-narrow;
        width: 280px;
        height: 390px;
        padding: 33px 20px 0;
        @include media-breakpoint-down(md) {
            margin: 0 auto;
        }
    }

    @mixin big-frame($img-url-wide) {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: $img-url-wide;
        background-repeat: no-repeat;
        background-size: contain;
        width: 423px;
        height: 418px;
        padding: 46px 60px 0;
    }

    @mixin build-frame($img-url-wide, $img-url-narrow) {
        @include big-frame($img-url-wide);
        @include media-breakpoint-down(lg) {
            @include small-frame($img-url-narrow);
        }
        @include media-breakpoint-only (sm) {
            @include big-frame($img-url-wide);
        }
    }

    @mixin big-btn() {
        width: 289px;
        height: 50px;
        color: white;
		padding: 0;
        line-height: 47px;
        font-size: 0.9rem;
		margin: 0 auto;
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    }

    @mixin small-btn() {
        width: 200px;
    }

    @mixin frame-btn ($backgroun-color) {
        background-color: $backgroun-color;
        .icon {
            padding-right: 5px;
            padding-bottom: 5px;
        }
        @include big-btn;
        @include media-breakpoint-down(lg) {
            @include small-btn;
        }

        @include media-breakpoint-only(sm) {
            @include big-btn;
        }
    }

    .top-description {
        width: 423px;
        padding: 0 60px;
        @include media-breakpoint-down(lg) {
            width: 280px;
            padding: 0 20px;            
		}

		@include media-breakpoint-down(md) {
			margin: 0 auto;
        }
		
        @include media-breakpoint-only (sm) {
            width: 423px;
            padding: 0 60px;
        }

        h5 {
            font-size: 1.2rem;
			font-weight: lighter; 
			@include media-breakpoint-down(md) {
				font-size: 1rem;
			}
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .left-table {
            position: relative;
            @include build-frame(url('assets-pricing/left-rectangle.svg'),
            url('assets-pricing/left-rectangle-280.svg'));

            .wind {
                position: absolute;
                width: 135px;
                height: 109px;
                left: -114px;
                top: 141px;
                @include media-breakpoint-down(lg) {
                    top: 111px;
                }
            }

            p {
                margin: 0;
            }

            @mixin slogan-big {
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: $small-mar;
                margin-left: -17px;
                margin-right: -17px;
			}
			
            @mixin slogan-small {
                font-size: 0.9rem;
                margin-left: 0;
                margin-right: 0;
            }

            .slogan {
                @include slogan-big();
                @include media-breakpoint-down(lg) {
                    @include slogan-small();
                }
                @include media-breakpoint-only (sm) {
                    @include slogan-big();
                }
            }

            .price {
                font-size: 2.4rem;
                font-weight: bold;
                margin-bottom: $small-mar;
                @include media-breakpoint-down(lg) {
                    font-size: 1.6rem;
                }
                @include media-breakpoint-only (sm) {
                    font-size: 2.4rem;
                }
            }

            .price-description {
                font-size: 0.8rem;
                font-weight: bold;
                margin-bottom: $small-mar;
                @include media-breakpoint-down(lg) {
                    font-size: 0.6rem;
                }
                @include media-breakpoint-only (sm) {
                    font-size: 0.8rem;
                }
            }

            @mixin price-rule-big {
                font-size: 0.8rem;
                margin-bottom: $small-mar;
            }
            @mixin price-rule-small {
                font-size: 0.7rem;
                margin-bottom: 18PX;
            }

            .price-rule {
                @include price-rule-big();
                @include media-breakpoint-down(lg) {
                    @include price-rule-small();
                }
                @include media-breakpoint-only (sm) {
                    @include price-rule-big();
                }
            }

            .logo-wrapper {
                width: 100%;
                margin-bottom: 24px;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 15px;
                }
                @include media-breakpoint-only(sm) {
                    margin-bottom: 24px;
                }

                .logo {
                    height: 40px;
                    padding: 0 5px;
                    @include media-breakpoint-down(lg) {
                        height: 25px;
                    }
                    @include media-breakpoint-only(sm) {
                        height: 40px;
                    }
                }
            }

            .btn {
                @include frame-btn(#50cbb2);
            }
        }
    }

    .right {

        .right-table {
            position: relative;
            @include build-frame(url('assets-pricing/right-rectangle.svg'),
            url('assets-pricing/right-rectangle-280.svg'));

            .train {
                position: absolute;
                width: 259px;
                height: 168px;
                left: 401px;
                top: 107px;
                @include media-breakpoint-between(sm,
                lg) {
                    left: 259px;
                }
                @include media-breakpoint-down(lg) {
                    width: 180px;
                }
                @media screen and (max-width: 1400px) and (min-width: 1200px) {
                    width: 180px;
                    top: 127px;
                }
            }

            @mixin shadow-big {
                position: absolute;
                content: ' ';
                border-radius: 5px;
                box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.2);
                height: 371px;
                width: 375px;
                left: 24px;
				top: 15px;
				z-index: -1;
            }

            @mixin shadow-small {
                height: 315px;
                width: 238px;
                left: 21px;
                top: 14px;
            }

            .shadow-box {
                @include shadow-big();
                @include media-breakpoint-down(lg) {
                    @include shadow-small();
                }
                @include media-breakpoint-only(sm) {
                    @include shadow-big();
                }
            }


            h4 {
                text-align: center;
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: 10px;
                @include media-breakpoint-down(lg) {
                    font-size: 0.9rem;
                    margin-bottom: 22px;
                }
                @include media-breakpoint-only (sm) {
                    font-size: 1.1rem;
                    margin-bottom: 10px;
                }
            }

            @mixin big-ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;
                margin-bottom: 28px;
                font-size: 0.9rem;
            }

            @mixin small-ul {
                font-size: 0.8rem;
                margin-bottom: 36px;
            }

            ul {
                @include big-ul();
                @include media-breakpoint-down(lg) {
                    @include small-ul();
                }
                @include media-breakpoint-only (sm) {
                    @include big-ul();
                }
            }

            @mixin big-li {
                position: relative;
                padding-left: 87px;
                line-height: 41px;
            }

            @mixin small-li {
                padding-left: 48px;
                line-height: 30px;
            }

            @mixin small-li-befor {
                top: 5px;
                left: 20px;
                height: 20px;
                padding-right: 30px;
                background-size: contain;
            }

            @mixin big-li-befor {
                position: absolute;
                content: '';
                background-image: url('assets-pricing/check-circle-dark.svg');
                background-repeat: no-repeat;
                background-size: contain;
                top: 11px;
                left: 46px;
                height: 22px;
                padding-right: 40px;
            }

            li {
                @include big-li();
                @include media-breakpoint-down(lg) {
                    @include small-li();
                }
                @include media-breakpoint-only (sm) {
                    @include big-li();
                }

                &:before {
                    @include big-li-befor();
                    @include media-breakpoint-down(lg) {
                        @include small-li-befor();
                    }
                    @include media-breakpoint-only (sm) {
                        @include big-li-befor();
                    }
                }
            }

            .btn {
                @include frame-btn(#1875b1);
            }
        }
    }
}
