.full_width_stripes_grey {
	.full-width-wings-separator {
        margin-bottom: $small-mar;
        -webkit-filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
        filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
    }
}