.home_separator_dotted{
    background-image: url("assets-home/separator.svg");
    background-position: 50%;
    max-width: 100%;
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}