$margin-bottom-15px: 15px;
$margin-bottom-20px: 20px;
$margin-bottom-30px: 30px;
$margin-bottom-40px: 40px;
$margin-xxl: 60px;

.payment_methods_component {
   
    .logo_rotator_component {
        margin-bottom: $margin-bottom-elements; // @include media-breakpoint-down(sm) {
        padding: 0 15px; // }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .clouds-row {
        img {
            max-width: 100%;
        }

        .cloud-1 {
            padding: 1.7% 4.5% 0 3%;
        }
        .cloud-2 {
            padding: 9.6% 2.6% 0 0.8%;
        }
        .cloud-3 {
            padding: 0.5% 6.4% 0 3.4%;
            img {
                @include media-breakpoint-down(sm) {
                    height: 170px;
                }
            }
        }
    }

    .planes-row {
        margin-bottom: $margin-xxl;
        .plane-1 {
            padding: 2.6% 14.4% 0 0%;
        }

        .plane-2 {
            margin-top: -0.4%;
            padding: 0 3.9% 0 2.3%
        }
    }

    .pay-cards-row {
        margin-bottom: $margin-xxl;
        @include media-breakpoint-up(xl) {
            margin-top: 5.3%;
            margin-bottom: 0;
        }

        .pay-card-image {
            text-align: center;
            padding: 0 30px;
            margin-bottom: $margin-bottom-elements;
            @include media-breakpoint-up(xl) {
                text-align: right;
                padding: 0.4% 5.7% 0 0;
                margin: 0;
            }

            .logo-container {
                width: fit-content;
                height: fit-content;
                margin-left: auto;
                margin-right: auto;
                @include media-breakpoint-up(xl) {
                    margin-right: 0;
                }
                background-image: url('assets-platnosci/Mastercard-logo.svg');
                background-repeat: no-repeat;
                background-position: 88% 6%;
                background-size: 20% 44%;
            }

            img {
                width: 438px;
            }
        }

        .pay-card-description {
            display: flex;
            justify-content: center;
            text-align: left;

            @include media-breakpoint-down(sm) {
                padding: 0 30px;
            }

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 15px;
                justify-content: flex-start;
                text-align: left;
            }

            .row {
                align-content: flex-start;
                @include media-breakpoint-down(md) {
                    justify-content: center;
                }
            }

            .description-wrapper {
                padding: 0 15px;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: $margin-bottom-text;
                @include media-breakpoint-up(xl) {
                    font-size: 2rem;
                    padding: 2px 0 0 0;
                }
            }

            p {
                font-size: 0.8rem;
                margin-bottom: $margin-bottom-40px;
                @include media-breakpoint-up(lg) {
                    font-size: 1rem;
                }
            }

            .buttons-row {
                display: flex;
                justify-content: center;
                @include media-breakpoint-up(lg) {
                    justify-content: flex-start;
                }

                .btn {
                    font-size: 13px;
                    letter-spacing: 1px;
                    text-align: center;
                    height: 45px;
                    line-height: 45px;
                    padding: 0;
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }
                }

                .btn-yellow {
                    width: 160px;
                    -webkit-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    -moz-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                }

                .btn-outline {
                    width: 200px;
                }
            }
        }

        .card-logos-row {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: $margin-bottom-elements;
            padding: 0 30px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
            .row {
                overflow: hidden;
            }

            .card-logos-wrapper {
                background: white;
                padding: 0;

                @include media-breakpoint-up(lg) {
                    margin-top: 130px;
                    margin-bottom: 54px;
                }

                img {
                    height: 50px;
                    display: inline-block;
                    margin: 14px 7px;
                }
                img:not(.active) {
                    -webkit-filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
                    filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
                }
            }
        }
    }

    .btn {
        &.btn-yellow {
            background: $yellow;
        }
        &.btn-blue {
            background: $blue;
        }

        margin-bottom: 10px;
    }

    .clouds-row-next {
        img {
            max-width: 100%;
        }
        .cloud-1 {
            padding: 2% 4% 0 0;
        }
        .cloud-2 {
            padding: 9.7% 0% 0 1%;
        }
        .cloud-3 {
            padding: 0.8% 0.7% 0 5.7%;
        }
    }

    .paper-plane-row {
        margin-bottom: $margin-xxl;
        margin-top: 182px;

        @include media-breakpoint-up(xl) {
            margin-top: 202px;
            margin-bottom: 0;
        }

        .paper-plane-description {
            padding-top: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                margin-bottom: $margin-bottom-40px;
            }

            .row {
                justify-content: center;
                @include media-breakpoint-up(md) {}
            }

            .description-wrapper {
                @include media-breakpoint-up(md) {
                    text-align: left;
                    padding: 0 15px;
                    margin-bottom: 56px;
                }
                padding: 0 30px;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: $margin-bottom-40px;
                @include media-breakpoint-down(md) {
                    text-align: left;

                }
                @include media-breakpoint-up(lg) {
                    width: 430px;
                    margin-bottom: 0;
                    font-size: 2rem;
                }
            }

            .buttons-row {
                display: flex;
                justify-content: center;
                margin-bottom: $margin-bottom-elements;

                .paper-plane-image {
                    position: absolute;
                    height: 170px;
                    width: 223px;
                    top: -306px;
                    content: 'sm';

                    background-image: url('assets-platnosci/Plane-paper.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position-x: right;
                    background-origin: content-box;

                    @include media-breakpoint-up (md) {
                        height: 170px;
                        width: 223px;
                        top: -330px;
                        left: 340px;
                        content: "md";
                    }

                    @include media-breakpoint-up (lg) {
                        height: 195px;
                        width: 373px;
                        top: -163px;
                        left: -142px;
                        content: "lg";
                    }

                    @include media-breakpoint-up (xl) {
                        height: 288px;
                        width: 371px;
                        left: -144px;
                        top: -244px;
                        content: 'xl';
                    }
                }

                .col-break {
                    align-self: center;
                    padding: 0;
                    text-align: center;
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }
                }
                .btn {
                    align-self: center;
                    display: inline-block;
                    width: 160px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    -webkit-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    -moz-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }

                }
            }
        }

        .paper-plane-text-bottom {
            margin-bottom: $margin-bottom-elements;
            .text-wrapper {
                padding: 0 30px;
                font-size: 0.8rem;
                text-align: left;
                @include media-breakpoint-up(md) {
                    padding: 0 15px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 1rem;
                }
            }
        }
    }

    .logos-wrapper {
        margin-bottom: $margin-bottom-30px;
        @include media-breakpoint-up(xl) {
            margin-bottom: 100px;
            margin-top: 100px;
        }

        .logo {
            background-image: url('assets-home/bank_idea.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
            padding: 10px 15px;
            height: 45px;
        }
    }

    .rocket-launcher-row {
        @include media-breakpoint-down(sm) {
            padding: 0 0 5px 0;
        }

        @include media-breakpoint-up(lg) {
            background-image: url('assets-platnosci/Oval-bottom.svg');
            background-repeat: no-repeat;
            background-position: center -280%;
            height: 600px;
        }

        .rocket-launcher-image {
            padding: 0;
            height: 250px;
            background-origin: padding-box;
            background-position: center;
            background-image: url('assets-platnosci/start-platform.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: $margin-bottom-elements;
            @include media-breakpoint-up(lg) {
                height: 548px;
                background-origin: content-box;
                padding-right: 102px;
                background-position: right;
                margin-bottom: 0;
            }
        }

        .rocket-launcher-description {
            text-align: left;
            display: flex;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
                text-align: left;
                padding-top: 96px;
            }

            .description-wrapper {
                padding: 0 30px;
                @include media-breakpoint-up(lg) {
                    padding: 0 15px;
                }
                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 19px;
                        text-align: left;
                        font-size: 2rem;
                    }
                }

                p {
                    padding: 0;
                    font-size: 0.8rem;
                    text-align: left;
                    margin-bottom: $margin-bottom-40px;
                    @include media-breakpoint-up(lg) {
                        font-size: 1rem;
                    }
                }
            }

            .logos-row {
                height: 80px;
                text-align: center;
                line-height: 80px;
                margin: 10px 0 12px;
                margin-bottom: $margin-bottom-elements;
                overflow: hidden;
                .logos-inner-row {
                    display: flex;
                    justify-content: flex-start;
                    padding: 0;
                    img {
                        height: 38px;
                        display: inline-block;
                        margin: 0 5px;
                    }
                    img:not(.active) {
                        -webkit-filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
                        filter: brightness(60%) contrast(20%) grayscale(100%) opacity(30%);
                    }
                }
            }

            .buttons-row {
                display: flex;
                justify-content: center;
                text-align: center;

                @include media-breakpoint-up(lg) {
                    justify-content: flex-start;
                }

                .col-break {
                    align-self: center;
                    padding: 0;
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 0;
                    }
				}
				
                .btn {
                    width: 160px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    -webkit-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    -moz-box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 0.25);
                    margin-bottom: $margin-bottom-elements;
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
