.logo_rotator_component{
	.glide__track{
		.glide__slides{
			align-content: center;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}
		.glide__slide {
			width: 20%;
			text-align: center;
		}
	}
}