.pricing_footer_component {
	.title {
		text-align: center;
		padding-bottom: $medium-pad;
		margin-top: $medium-mar;
		margin-bottom: $medium-mar;
		@include media-breakpoint-down(sm) {
            padding: 0 $small-pad 10px;
        }

		&:before {
			content: ' ';
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			bottom: -2px;
			background-image: url('assets-pricing/line.png');
			background-repeat: no-repeat;
			background-size: 100%;
			background-position-x: 50%;
			background-size: 80%;
			@include media-breakpoint-down(sm) {
				background-size: 85%;
			}
		}
	}	
	
	table {
		width: 100%;
	}
	
	td {
		font-size: 0.9rem;
		padding: 15px;
		width: 50%;
		@include media-breakpoint-down(sm) {
            padding: 15px 10px;
        }
	}

	table tr td:first-of-type {
		text-align: right;
	}

	h3 {
		text-align: center;
		font-size: 1.2rem;
		font-weight: normal;
		width: 100%;
		padding: 0 15px;
	}
	
	.left {
		margin-bottom: $big-mar;
	}

	.right {
		margin-bottom: $medium-mar;	
	}
}
