.pricing_header_component {
    padding-top: $big-pad;
    margin-bottom: $medium-mar;
    @include media-breakpoint-down(md) {
        padding-left: $small-pad;
        padding-right: $small-pad;
        margin-bottom: 0;
    }

    .header-descryption {
        margin-bottom: $medium-mar;
        @include media-breakpoint-down(md) {
            margin-bottom: $big-mar
        }
        h1 {
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: $medium-mar;
            @include media-breakpoint-down(md) {
                margin-top: $medium-mar;
                margin-bottom: $small-mar;
                font-size: 1.7rem;
            }
        }

        p {
            font-size: 0.9rem;
            font-weight: bold;
        }
	}
	
	.cloud-left {
		padding-right: 15px;

	}
	.cloud-right {
		padding-left: 15px;
	}

    .small-cloud {
        @include media-breakpoint-up(md) {
            width: 66.66%
        }
    }
}
