.full_image_title_header {
    &.no-thumbnail {
        background-image: url('assets-blog/blog-photo-header.jpg')!important;
    }
    background-size: cover;
    background-position: 50%!important;
    background-repeat:no-repeat!important;
    min-height: 280px;
    color:white;
    .cover{
        background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7));
        min-height: 280px;
        text-transform: uppercase;
    }
}