.single-legal {
    overflow-x: hidden;
}
.legal_single_component {
    .main-content {
        margin-top: $big-mar;
        padding-bottom: $big-pad;   
        border-bottom: 1px solid #dbdbdb;
    }

    .main-title {        
        margin-bottom: $big-mar;
        @include media-breakpoint-down(md) {
            padding-left: $medium-pad;
            padding-right: $medium-pad;
        }

        h1 {
            font-size: 72px;
            font-weight: bold;
            color: #4b4b4b;
            margin-bottom: $big-mar;
            @include media-breakpoint-down(md) {
                @include font-xl
            }
            @include media-breakpoint-down(sm) {
                @include font-xl
            }
        }
    }

    .btn-back {
        color: #6ca0e4;
        cursor: pointer;
		display: flex;
		vertical-align: top;
        justify-content: flex-end;
        margin-top: 8px;

        .chevrons-left {
            width: 14px;
            background-image: url('./assets-legal/chevrons-left.svg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 2px;
        }

        .title {
			line-height: 12px;
			height: 12px;
            font-size: 0.9rem;
			font-weight: bold;
			padding-left: 6px;
        }
    }

    .right-content {

        padding-left: $small-pad;
        color: #4b4b4b;
        @include media-breakpoint-down(md) {
            padding-left: $medium-pad;
            padding-right: $medium-pad;
            ul,ol {
                margin: 15px 0 0 0;
                padding: 0;
            li {
                margin-top: 15px;
            }
            }
        }
        h1 {
            @include font-xl;
            margin: 15px 0;
            font-weight: bold;
        }
        h2 {
            @include font-lg;
            margin: 15px 0;
            font-weight: bold;
        }
        h3 {
            @include font-md;
            font-weight: bold;
        }
    }

    .right-content:before {
        @include media-breakpoint-up(md) {
            position: absolute;
            content: ' ';
            left: 0;
            height: 50%;
            width: 0;
            border-left: 1px solid #dbdbdb;
        }
    }
}
