.other-payments {
    margin: $big-mar 0 0 0;
    padding: $big-pad;
    min-height: 250px;
    background-size: cover!important;
    background-position: 50%!important;
    position: relative;
    .left{
        left: 40px;
        @include media-breakpoint-between(sm, md) {
            left: 15px;
         }
        a{flex-direction: row;}
    }
    .right{
        right: 40px; 
        @include media-breakpoint-between(sm, md) {
            right: 15px;
         }
        text-align: right; 
        justify-items: flex-end; 
        justify-content: flex-end; 
        a{flex-direction: row-reverse;}
    }
    .left, .right{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        width: 50%;
        @include hover-transition;
        opacity: 0.7;
        height: 100%;
        a {
            display: inline-flex;
            align-items: center;
            height: 100%;
        }
        &:hover {
            opacity: 1;
        }
        img, p{
            margin: 0;
        }
        img {
            @include media-breakpoint-between(sm, md) {
                height: 50px;
             }
        }
    }
    .prev {
        text-align: right;
        position: relative;
        &:after {
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: rgba(255,255,255,0.7);
        }
        h2 {
            &:before {
                content: '';
                width: 50%;
                height: 1px;
                position: absolute;
                bottom: 0;
                right: 15px;
                background: rgba(255,255,255,0.7);
                border-radius: 120px;
            }
        }
    }
    .next {
        position: relative;
        @include media-breakpoint-between(xs, sm) {
            margin-top: $big-mar;
            &:after {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255,255,255,0.7);
            }
        }
        h2{
        &:before {
            content: '';
            width: 50%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 15px;
            background: rgba(255,255,255,0.7);
            border-radius: 120px;
        }
        }
    }
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.65);
    }
    h2, p {
        color: $text-white;
        padding: 0 $small-pad;
    }
    h2 {
        margin-bottom: $small-mar;
        padding-bottom: $small-mar;
        position: relative;
    }
}

.payment_single {
    position: relative;
    .content {
        margin-top: $big-mar;
        @include media-breakpoint-between(xs, sm) {
            margin-top:0;
        }
    }
    .header-wave {
        margin:0;
        padding: 0 0 $big-pad 0;
        position: relative;
        @include media-breakpoint-between(xs, md) {
            
        }
        img {
            width: 100%;
            max-width: 100%;
        }
        h2 {
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            &.title {
                position: absolute;
                left: 0;
                top: 30%;
                transform: translateY(-50%);
                width: 100%;
                display: block;
            }
            @include media-breakpoint-between(xs, md) {
                font-size: 24px;
                margin: 0 $small-mar $small-mar $small-mar;
            }
        }
    }
    .call-to-action {
        margin: $medium-mar 0;
        h2{
            padding: 0;
            margin: 0;
            @include media-breakpoint-between(xs, md) {
                font-size: 24px;
                margin: $medium-mar 0;
            }
        
        }
        span {
            margin: 0 $small-mar;
            @include media-breakpoint-between(xs, sm) {
                margin: $small-mar 0;
            }
        }

    }
    .small-payments{
        margin-bottom: $small-mar;
        .small-payment {
            font-size: 12px;
            margin: 0 $small-mar;
            color: #808080;
            @include hover-transition;
            &:hover {
                color: $color-blue;
            }
        }
    }
    .payment-logo {
        margin: $big-mar 0;
        img {
            max-width: 100%;
            width: 200px;
            height: auto;
            @include media-breakpoint-between(xs, md) {
                max-width: 160px;
            }
        }
    }
    
    .social-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 104px;
        margin-bottom: $medium-mar;
        margin-top: $big-mar;
        img {
            margin: 0px 5px;
            filter: grayscale(100%);
            @include hover-transition;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
    p {
        line-height: 21px;
        margin: 0 0 $medium-mar 0;
    }
    .snippets {
        color: $color-gray;
        .popular {
            padding-right: $small-pad;
            @include media-breakpoint-down(md) {
                border-bottom: 1px solid #e8e8e8;
            }
            @include media-breakpoint-up(lg) {
                border-right: 1px solid $color-gray;
            }
        }
        .fragment {
            padding-left: $small-pad;
            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }
        }

        .popular,
        .fragment,
        .country {
            a{
                color: $color-gray;
                &:hover {
                    color: $color-blue;
                }
            }
            display: inline-block;
            
        }
    }
}