.main-menu {
    width: 100%;
    position: fixed;
    z-index: 999;
    &.white {
        background: white;
    }
    .psyduck {
        width: 100%;
        position: absolute;
        height: 4px;
        left: 0;
        bottom: -4px;
        background-size: 100%!important;
    }
    .psycat {
        width: 100vw;
        height: 175px;
        position: absolute;
        left: 0px;
        top: -5px;
        background-size: cover!important;
        background-repeat: no-repeat !important;
        background-position: bottom center!important;
    }
    .psytriangle{
        @include media-breakpoint-up(lg){
            height: 0px;
            width:0px;
            bottom: 0px;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
            transition: .5s ease all;
            border-top: 0px solid #ffffff;
            position: absolute;
            bottom:0;
            &.active{
                border-top: 36px solid #ffffff;
                bottom:-36px;
            }
        }
    }

}

.top_menu_component {
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    @include media-breakpoint-between(sm, lg) {
        font-size: 0.8rem;
    }
    /*
    Logo ;)
    */
    .logo {
        flex: 1;
        justify-self: flex-start;
        z-index: 99999;
       img {
           width: 150px;
           @include media-breakpoint-between(xs, sm) {
            width: 120px;
        }
       }
    }
    /*
    Menu ;)
    */
    .menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        align-content: center;
        li {
            display: inline-block; margin: 0 $small-mar; position: relative;
            &:hover{
                ul {
                    &.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    @include hover-transition;
                    }
                }
            }
            ul{
                &.sub-menu{
                    opacity: 0;
                    visibility: hidden;
                    @include hover-transition;
                }

                &.sub-menu {
                    position: absolute;
                    padding: $medium-pad;
                    margin: 0;
                    left: 50%;
                    width: 720px;
                    transform: translateX(-50%);
                    top: 40px;
                    background:white;
                    z-index: 8;
                    border-radius: $radius-10;
                    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
                    @include media-breakpoint-between(lg, xl) {
                        &::after{
                            content: '';
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            height: calc(100% - 40px);
                            width: 50px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    &::before {
                        content: '';
                        width: calc(100% + 45px);
                        height: calc(100% + 45px);
                        position: absolute;
                        background: transparent;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%)translateY(-50%);
                    }
                    li {
                        display: inline-table;
                        width: 50%;
                        float: left;
                        position: relative;
                        margin-left: 0;
                        margin-right: 0;
                        a {
                            font-size: 10px;
                            font-weight: 400;
                            display: block;
                            padding-bottom: $small-pad;
                            @include hover-transition;
                            &:before,&::after{
                                display: none;
                            }
                            &:hover {
                                color: $text-blue;
                            }
                        }
                    }
                }
            }
        }
    }
    .tablet-nav, .mobile-nav {
        justify-content: flex-end;
        flex-direction: row;
        .menu {
            float: right;
            .btn {
                margin-right: 15px;
                line-height: 24px;
            }
        }
        #burger {
            position: relative;
            width: 45px;
            height: 45px;
            margin-right: $small-mar;
            margin-left: $small-mar;
            float: right;
            .line1 {
                top: 15px;
                width: 45px;
            }
            .line2 {
                bottom: 15px;
                width: 30px;
            }
            &.active {
                .line1 {
                    top: 15px;
                    width: 30px;
                }
                .line2 {
                    bottom: 15px;
                    width: 45px;
                }
            }
        }
        .line1, .line2 {
            position: absolute;
            height: 2px;
            left: 0;
            border-radius: $radius-10;
            background: #808080;
            @include hover-transition;
        }
    }
    .top-nav {
        flex: 1;
        justify-items: flex-end;
        justify-self: flex-end;
    }
    .top-nav, .tablet-nav {
        z-index: 9;
        font-size: 0.75rem;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -ms-transition: all 1s;
        transition: all 1s;
        a {
            color: $text-black;
            position: relative;
            @include media-breakpoint-between(sm, lg) {
            }
            @include media-breakpoint-between(0, sm) {
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                -ms-transition: all 1s;
                transition: all 1s;
                opacity: 0;
                margin-right: 0;
                font-size: .9rem;
                align-items: center;
            }
            &:before {
                background: linear-gradient(to right, #ff0000, #ff4400);
                height: 6px;
                width: 8%;
                position: absolute;
                display: block;
                content: " ";
                left: calc(10% - 8%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                opacity: 0;
                bottom: -6px;
                border-radius: 8px;
            }
            &:after {
                background: linear-gradient(to right, #0CA8F1, #10CEFB);
                height: 6px;
                width: 36%;
                position: absolute;
                display: block;
                content: " ";
                right: 0%;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
                opacity: 0;
                bottom: -6px;
                border-radius: 8px;
            }
            &:hover {
                &:before {
                    left: calc(80% - 12%);
                    width: 12%;
                    min-width: 6px;
                    opacity: 1;
                }
                &:after {
                    right: calc(80% - 36%);
                    width: 36%;
                    min-width: 12px;
                    opacity: 1;
                }
            }
        }
    }
    .btn {
        border-radius: $radius-5;
        font-size: 12px;
        font-weight: 600;
        &.btn-blue {
            box-sizing: border-box;
            a {
                display: inline-block;
                color: $text-white;
                padding: 10px 20px;
                border: 0px solid $color-blue;
                background-color: $color-blue;
                    @include hover-transition;
                &:hover {
                    @include hover-transition;
                }
                &:before, &:after {
                    display: none;
                }
            }
            @include media-breakpoint-between(0, md) {
            }
            @include media-breakpoint-between(sm, lg) {
            }
        }
        &.btn-yellow {
            box-sizing: border-box;
            a {
                display: inline-block;
                color: $text-black;
                padding: 10px 20px;
                border: 1px solid $color-yellow;
                background-color: $color-yellow;
                    @include hover-transition;
                &:hover {
                    @include hover-transition;
                }
                &:before, &:after {
                    display: none;
                }
            }
            @include media-breakpoint-between(0, md) {
            }
            @include media-breakpoint-between(sm, lg) {
            }
        }
    }    
    &.rwd-open {
        nav {
            display: flex;
            flex: 1 100%;
            position: relative;
            order: 10;
            background-color: white;
            width: 100%;
            margin-top: 60px;
            left: 0;
            height: auto;
            justify-content: space-between;
            margin-top: 1rem;
            a {
                opacity: 1;
            }
        }
    }
}

/*
*Drawer element binded to menu
*/
.drawer, .drawer.active{
    @include hover-transition;
}

.drawer {
    .copyright {
        color: #808080;
        padding: 20px 0;
    }
    overflow-y: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100% - 82px);
    width: 100%;
    background: white;
    transform: translateX(150%);
    z-index: 99;
    &.admin-bar{
        height: calc(100% - 114px);
    }
    &.active {
        transform: translateX(0%);
    }

    .menu {
        .menu-item {position: relative;}
        .menu-item:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-size: 100%!important;
        }
    }
    

    .menu {
        margin: 40px 0 0 0;
        padding: 0;
        .sub-menu {
            padding: 0; margin: 0px 0 20px 0;
            position: relative;
            @include media-breakpoint-between(0, sm) {
                height: 0px;
                overflow: hidden;
                padding: 0;
                margin: 0px 0px 0px 0px;
                @include hover-transition;
                &.active {
                    height: auto;
                    @include hover-transition;
                }
                .plus {
                    display: none;
                }
            }
            li {
                width: 28%;
                margin: 20px 1.5%;
                display: inline-table;
                @include media-breakpoint-between(0, sm) {
                    display: block;
                    width: 100%;
                    margin: 10px 20px;
                    text-align: left;
                }
                font-size: 14px;
                font-weight: 400;
                a {
                    &:after {
                        display: none;
                    }
                }
                &:after {
                    display: none;
                }
            }
        }

        li {
            display: block;
            text-align: center;
            @include media-breakpoint-between(0, sm) {
                display: block;
                width: calc(100% - 20px);
                text-align: left;
                .plus {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    position: absolute;
                    right:0;
                    top:8px;
                    background-repeat: no-repeat!important;
                    background-position: 50%!important;
                    transition: 0.5s transform;
                    &.hidden{
                        visibility: hidden;
                    }
                    &.active{
                        transform: rotate(45deg);
                    }
                }
            }
            font-size: 18px;
            font-weight: 600;
            a {
                color: #000000;
                padding: 20px 0;
                @include media-breakpoint-between(0, sm) {
                    padding: 20px;
                }
                display: block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 26px;
                    width: 14px;
                    height: 14px;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                    background-size: contain!important;
                }
            }
        }
    }
}