.blog_submenu_component {
    margin-top:3.3rem;
    margin-bottom:2.5rem;
    .wings {
        &-separator {
            img{
                max-width: 100%;
            }
            max-width: 100%;
            &--single {
                img {
                    height: 2px;
                    border-radius: 250px;
                    width: 100%;
                }
            }
        }
    }
    ul {
        &.blog-menu {
            display: block;
            padding: 0 0 20px 0;
            margin: 0;
            text-align: center;
            li {
                &.current-cat {
                    a {
                        &:after{
                            content: '';
                            width: 7px;
                            height: 7px;
                            background: $color-blue;
                            border-radius: $radius-15;
                            position: absolute;
                            bottom: -15px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                display: inline-block;
                a   {
                    margin: 0 $small-mar;
                    color: #000000;
                    position: relative;
                    @include hover-transition;
                    &:hover {
                        &:after{
                            content: '';
                            width: 7px;
                            height: 7px;
                            background: $color-blue;
                            border-radius: $radius-15;
                            position: absolute;
                            bottom: -15px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}