.pricing_logo_rotator_component {
    .mask-box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    }
    margin-bottom: $big-mar;
    .slogan-row {
        margin-top: $big-mar;
        margin-bottom: $big-mar;

        .slogan {
            text-align: center;
            margin-bottom: $medium-mar;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .row {
        margin: 0;
    }

    .logo-row {
        flex-flow: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-bottom: $medium-mar;
        overflow: hidden;

        @include media-breakpoint-only(xs) {
            height: 30px;
        }
        @include media-breakpoint-only(sm) {
            height: 40px;
        }
        @include media-breakpoint-only(md) {
            height: 50px;
        }
        @include media-breakpoint-only(lg) {
            height: 60px;
        }

        .logos-wrapper {
            position: relative;
            flex-flow: row;

            img {

                padding-right: $small-pad;
                @include media-breakpoint-down(md) {
                    // padding-right: 0;
                }
            }
        }
    }

    .pay-method-link {
        text-align: center;
        margin-top: $big-mar;
        img {
            margin-left: $small-mar;
        }

    }
}
