.faq_call_us_component{
    a {
        color: black;
    }
    margin-top:12rem;
    @include media-breakpoint-down(md){
        margin-top:4rem;
    }
    overflow-x:hidden;
    transition: 0.3s ease-in-out;
    &.nav-shown{
        transform: translate(300px);
    }
    .call-us{
        h3{
            font-size: 1.6rem;
            @include media-breakpoint-down(md){
                font-size: 1.0rem;
            }
            @include media-breakpoint-up(lg){
                display: inline-block;
            }
            letter-spacing: 0.05rem;
            font-weight: bold;
        }
        
        img{
            @include media-breakpoint-down(sm){
                margin-top: $small-mar;
            }
            padding-left:16px;
        }
    }
}