$small-screen-width: 320px;
$xxxl-screen-width: 1600px;

.footer_component {
    position: relative;
    .submarine {
        width: 380px;
        height: 260px;
        background: url('assets-offer-main/Submarine.svg');
        display: inline-block;
        position: absolute;
        left: 5vw;
        top: -140px;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat; 
        @include media-breakpoint-down(md) {
           display: none;
        }
    }
    .terms {
        font-size: 11px;
    }
    .logos {
        .pep{
            margin-left:15px;
            height: 25px;
        }
    }
    &.wave {
        background-image: url('assets-home/wave_clear.svg');
        background-repeat: no-repeat; 
        background-size: cover;
        padding: 10rem 0 0;
    }
    &.faq {
        background-image: url('assets-faq/bottom-shape.svg');
        background-repeat: no-repeat; 
        background-size: cover;
        padding: 38rem 0 0;
        @media all and (max-width:1024px) {
            background-position-x:30%;
            margin-top:-20rem;
        }
        @media all and (max-width:590px) {
            background: none;
            margin-top:-32rem;
        }
        transition: 0.3s ease-in-out;
        &.nav-shown{
            transform: translate(300px);
        }
    }
    margin-top: $big-mar;
    
    .footer-column {
        padding-top: 2rem;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
        padding-top:2rem;
        .logo-col {
            padding: 0;
            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }

        .footer-menu {
            margin-top: 24px;
            list-style: none;
            padding-left: 0;
            ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                }
            }
            a {
                color: #656565;
                font-weight: 600;
                @include font-sm;
                letter-spacing: 0.1px;
                @include hover-transition;
                &:hover{
                    color: $color-blue;
                }
            }

            .higlight-red {
                color: #D2152C;
            }

            .higlight-blue {
                color: #6DA2E5;
            }
        }

        @media (max-width: $small-screen-width) {
            .footer-sign-up-form {
                padding: 0 10px;
            }
        }

        .footer-sign-up-form {
            .feather-ico {
                text-align: center;
                img {
                    height: 22px;
                    width: 22px;
                }
            }

            .form-title {
                @include font-sm;
                padding-top: 8px;
                text-align: center;
            }

            .form-element {
                @include hover-transition;
                color: $text-grey--deep;
                border: 2px solid $color-marine-half;
                border-radius: 5px;
                height: 38px;
                width: 240px;
                max-width: 100%;
                padding: 0 0 0 32px;
                font-size: 12px;
                margin: 5px auto;
                display: block;
                &.submit-button {
                    color: $text-white;
                }
                @include media-breakpoint-up(xl) {
                    margin: 5px 0;
				}
				
                @include media-breakpoint-down(sm) {
                    width: 180px;
                }
            }
            .form-element-ico {
                display: inline-block;
            }
            .form-element:focus {
                @include hover-transition;
                outline: transparent;
                border: 2px solid $color-marine;
            }

            input::-webkit-input-placeholder {
                color: $text-grey--deep;
            }
            input:-moz-placeholder {
                color: $text-grey--deep;
                opacity: 1;
            }
            input::-moz-placeholder {
                color: $text-grey--deep;
                opacity: 1;
            }
            input:-ms-input-placeholder {
                color: $text-grey--deep;
            }
            input::-ms-input-placeholder {
                color: $text-grey--deep;
            }
            input::placeholder {
                color: $text-grey--deep;
            }

            @mixin background-with-icon($icon-url,
            $icon-posx,
            $icon-posy) {
                background-image: $icon-url;
                background-position: $icon-posx $icon-posy, 0 0;
                background-repeat: no-repeat, no-repeat;
                background-size: 15px, auto;
            }

            .name-input {
                @include background-with-icon(url('assets-home/name-icon.svg'),
                10px,
                center)
            }

            .email-input {
                @include background-with-icon(url('assets-home/mail-icon.svg'),
                10px,
                center)
            }

            .submit-button {
                cursor: pointer;
                background-color: #50CBB2;
                padding: 0;
                font-weight: 600;
                letter-spacing: 0.2px;
                -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
                background-position: 10px center;
                background-image: url('assets-home/check-circle.svg');
				background-repeat: no-repeat;
                margin-bottom: 30px;
                @include hover-transition;
                &:hover {
                    background-position: 15px center;
                    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
                }
            }

            .submit-button:active {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

