
    .pagination{
            .page-numbers{
                border:none;
                color:#555555;
                font-size:0.8rem;
                border-radius:15%;
                margin: 0 5px;
                line-height: 30px;
                &:hover{
                    color: #51b7cc;
                    background-color: transparent;
                }
                &.current {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-color: #51b7cc;
                    color:white;
                    &:hover{
                        background-color: #51b7cc;
                        color:white;

                    }
                }
            }
            
    }