$faq_mobile_breakpoint: 1366px;

@mixin standardFont {
    letter-spacing: 1px;
    @include media-breakpoint-down(sm){
        font-size: 9px;
    }
}

@mixin titleFont(){
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}




.faq_section_viewer_component {
    @media all and (min-width: 576px ) and (max-width: $faq_mobile_breakpoint) {
        .container{
            max-width: none;
        }
    }
    overflow-x: hidden;
    @media all and (max-width:$faq_mobile_breakpoint){
        overflow: hidden;
        &.nav-shown{
            .col-nav-menu{
                transform: translate(0);
            }
            .col-content{
                transform: translate(380px);
            }
            #devopener {
                transform: translate(-33px) rotate(180deg);
                
            }
            #openerfilter {
                transform: translate(300px);
            }
        }
    }

    #openerfilter{
        display:none;
        top:90px;
        @media screen and (max-width:$faq_mobile_breakpoint) {
            display:block;
            position:fixed;
            z-index: 99999;
            background-color: rgba(0,0,0,.5);
            width:100%;
            height:100%;
            transform:translate(100%);
            transition: 0.3s ease-in-out;
        }
    }

    .col-nav-menu {
        transition: 0.3s ease-in-out;       
        #devopener {
            display:none;
            @media all and (max-width: $faq_mobile_breakpoint){   
                display: block;
                position: fixed;
                right: -33px;
                top: 2vh;
                background-image: url('./assets-devzone/mobile-circle.svg');
                z-index: 99999;
                width:38px;
                height:78px;
                text-align: center;
                line-height: 78px;
            }
        }
        @media all and (min-width: $faq_mobile_breakpoint){
            border-right-width: 3px;
            border-right-style: solid;
            border-image: linear-gradient(to bottom, #FDECB0, #F76C1D) 1 100%;
            flex: 0 0 34%;
            max-width: 34%;
            padding-left:8.8%;
        }
        @media all and (max-width: $faq_mobile_breakpoint){   
            z-index: 9999;
            position:fixed;
            top:90px;
            transform: translate(-300px);
            width:300px;
            height:100%;
            background:white;
        }
        .faq_section_viewer_root {
            list-style: none;
            padding-left: 0;
            .sub-menu{
                    list-style: none;
                    padding: 0 20px;
                    li {
                        line-height: 1rem;
                        a{
                            padding: 7px 0;
                            display: block;
                        }
                    }
            }
            .menu-item-type-taxonomy {
                &:not(.current-menu-item){
                    .sub-menu{
                        height:0;
                        visibility: hidden;
                    }
                }
                &.current-menu-item{
                    .arrow-icon {
                        visibility: hidden;
                    }
                }
                a {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $color-gray;
                }
                .count-circle {
                    background-color: $color-gray;
                    color: #DBBC2F;
                    border-radius: 9px;
                    font-size: 0.5rem;
                    //padding: 0.2rem 0.4rem;
                    width:18px;
                    height:18px;
                    margin-left: 6px;
                    margin-right: 6px;
                    display:inline-block;
                    text-align: center;
                    line-height: 18px;
                }
                .icon-img {
                    margin-right: 6px;
                }
                .faq_section_viewer_branch {
                    list-style: none;
                    display: none;
                    .faq_section_viewer_leaf {
                        a {
                            font-weight: normal;
                            color: $color-gray;
                        }
                    }
                }
                &.open {
                    .faq_section_viewer_branch {
                        display: block;
                    }
                    .down-arrow,
                    .count-circle {
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .col-content{
        transition: 0.3s ease-in-out;
        @media all and (min-width: $faq_mobile_breakpoint) {
            max-width: 46%;
            flex: 0 0 46%;
        }
        .drawer-article {
            .drawer-article-content{
                @include standardFont();
                h3 {
                    @include titleFont();
                }
            }
            .drawer-article-up {
                margin-top:20px;
                a {
                    color: #51B7CC;
                    font-weight: bolder;
                    font-size:10px;
                    letter-spacing:0.6px;
                    img{
                        margin-bottom: 10px;
                    }
                }
            }
        }
        
    }
        

}