.payment_methods_banks_logos_component {
    margin-bottom: $margin-xl;
    @include media-breakpoint-up(xl) {
        margin-bottom: $margin-xxl;
        margin-top: $margin-xxl;
	}
	.logos-wrapper {
		padding: 0 15px;
	}
    img {
        height: 50px;
        max-height: 100px;
        max-width: 100px;
        object-fit: contain;
    }
    .logo {
        margin: $small-mar 0;
    }
}
