.blog_preview_component {
    .separator {
        margin: 40px 20px;
        max-width: 100%;
        height: 2px;
        border-radius: 120px;
        background-repeat: repeat-y!important;
    }
  .author {
      color:#B1B1B1;
      font-size: 0.65rem;
  }   

  h3 {
      @include font-lg;
      font-weight:600;
  }
  
  p{

  }

  a {
    display: inline-block;
    }
  .image-col {
      text-align: right;
      img {
          border-radius: $radius-10;
          width: 100%;
      }
  }

  .btn-row {
      margin-top:2rem;
      a.btn-blue{
        @include hover-transition;
        min-height: 40px;
        &:hover{
            opacity: 0.85;
            @include hover-transition;
        }
      }
  }

  .social-icon {
      margin-left:1rem;
      cursor: pointer;
      filter: grayscale(100%);
      @include hover-transition;
      &:hover{
          filter: grayscale(0%);
      }
  }
  .press-download {
      display: inline-block;
      .download {
          margin: 0 5px 0 $big-mar;
          @include media-breakpoint-down(sm) {
            margin: 0 5px 0 5px;
          }
      }
      a{
          margin: 0 5px 0 0;
      }
  }
}