.work_header {
    overflow: hidden;


    .cloud-row {
        position: relative;
        margin-top: 32px;
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }

        .cloud-left {
            position: absolute;
            left: -100px;
            top: 5px;
            @include media-breakpoint-down(md) {
                display: none;
                left: 0;
                top: -170px;
            }
            @include media-breakpoint-down(sm) {
                display: none;
                width: 170px;
                top: -100px;
            }
        }
        .cloud-right {
            position: absolute;
            right: -14px;
            top: 3px;
            width: 241px;
            @include media-breakpoint-down(md) {
                right: 0;
                top: -170px;
            }
            @include media-breakpoint-down(sm) {
                display: none;
                width: 170px;
                top: -100px;
            }
        }
    }

    .title {
        @include font-xl();
        font-weight: 300;
        @include media-breakpoint-down(md) {
            @include font-lg();
        }
        @include media-breakpoint-down(sm) {
            @include font-lg();
        }
        color: $color-gray;
        margin-bottom: 36px;
    }
    .separator-gradient--full-width {
        height: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        border-radius: 0;
    }
    .full-width-picture-row {
        .member-img {
            @include media-breakpoint-up(lg) {
            width: 12.5%;
            }
            background-size: cover!important;
			background-position: 50%!important;
            min-height: 320px;
            padding: 0;
            
        }
    }

    .subtitle-row {
        margin-top: $big-mar;
        @include media-breakpoint-down(sm) {
            margin-top: $medium-mar;
            margin-bottom: $medium-mar;
        }
        .subtitle {
            font-weight: 300;
            @include font-md();
            @include media-breakpoint-down(sm) {
                @include font-sm();
            }
            color: #4b4b4b;
        }
    }
}
