.blog-content {
    .file-download{
        img {
            margin-right: $small-mar;
        }
        p {
            margin-bottom: $small-mar;
            text-align: left;
        }
    }
    .video-player {
        width: 100%;
        height: 400px;
        border-radius: $radius-10;
        overflow: hidden;
        margin-bottom: $big-mar;
    }
    color: #808080;
    margin-top: 120px;
    .goback {
        @include hover-transition;
        color: $text-blue--deep;
        margin-bottom: $small-mar;
    }
    .top {
        margin-bottom:$big-mar;
    }
    .bottom {
        margin:$big-mar 0;
    }
    .goback:hover {
        cursor: pointer;
        @include hover-transition;
        color: $text-blue--verydeep;
    }
    .separator {
        width: 100%;
        height: 2px;
        background: #a8a8a8;
        border-radius: 120px;
        margin-bottom: 40px;
        position: relative;
        &.bottom {
            margin-top: 40px;
        }
    }
    article {
        img {
            max-width: 100%;
            border-radius: $radius-5;
            margin-top: $medium-mar;
        }
    }
    .social-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 104px;
        margin-bottom: 20px;
        img {
            margin: 0px 5px;
            filter: grayscale(100%);
            @include hover-transition;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
    h5.files {
        font-size: 12px;
        font-weight: 700;
    }
}