.logo_rotator_component{
	.glide__track{
		.glide__slides{
			align-content: center;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}
		.glide__slide {
			width: 20%;
			text-align: center;
			height: initial;
			.bankster {
				height: 70px;
				max-height: 70px;
				max-width: 120px;
				object-fit: contain;
			}
		}
	}
	.glide4{
		position: relative;
		width: 100%;
		box-sizing: border-box;
	}
}