.container1440 {
    &.featured {
        padding: 0 $medium-pad;
    }
}
.featured {
    border-radius: $radius-5;
    a{
        display: block;
    }
    h1,h2,h3,h4,h5 {
        margin-bottom: $big-mar;
    }
    &-single{
        background: grey;
        min-height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: White;
        border-radius: $radius-10;
        background-size: cover;
        margin-bottom: $medium-mar;
        position: relative;
        overflow: hidden;
        .cover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1%, rgba(0,0,0,0.7) 99%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            z-index: 0;
        }
        h1,h2,h3,h4,h5,span {z-index: 1; margin-bottom: $small-mar;}
        span {
            font-size: 0.75rem;
        }
    }
}