.work_single_job_descryption {
    margin-top: 80px;

    .job-title {
        @include font-xl();
		margin-bottom: $medium-mar;
		@include media-breakpoint-down(sm) {
            @include font-lg();
        }
    }

    .job-location {
        @include font-sm();
        margin-bottom: 20px;
    }

    .full-width-wings-separator {
        margin-bottom: $big-mar;
    }

    .job-details-row {
        margin-bottom: $margin-xxl;
        @include media-breakpoint-down(sm) {
            padding-left: $small-pad;
            padding-right: $small-pad;
        }

        h2 {
            @include font-lg();
            font-weight: 300;
			margin-bottom: $medium-mar;
			@include media-breakpoint-down(sm) {
				@include font-md();
			}
        }

        h3 {
            @include font-sm();
            font-weight: 700;
            border-bottom: 1px solid #bebebe;
            margin-bottom: $small-mar;
            padding-bottom: $small-pad;
        }

        .skills {
            margin-top: 0;
            @include font-sm();
            margin-bottom: $big-mar;
            display: inline-block;
        }

        .separator-grey--full-width {
            margin-bottom: $small-mar;
        }

        .job-details {
            @include font-sm();
            text-align: left;
            margin-top: $big-mar;
            margin-bottom: $big-mar;
        }
    }

    .btn-bar {
        margin-bottom: $big-mar;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .btn {
            width: 170px;
            margin-left: $small-mar;
            margin-right: $small-mar;
            margin-bottom: $medium-mar;
        }
    }

}
