.home_newsletter_component{
  .first-column  {
    p{
        text-align: right;
        @include media-breakpoint-down(md){
            text-align: center;
        }
        font-weight: 800;
        font-size: 1.4rem;
        span{
            &.lightblue{
                color:#2AA9EE;
            }
            &.darkblue{
                color:#0D7CBC;
            }
            
        }
    }
  }
  .second-column {
      @include media-breakpoint-down(lg){
          text-align: center;
      }
    input {
        background-image: url('assets-home/buttom_newsletter.svg');
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 3.4rem;
        border-color: transparent;
        text-align:center;
        margin:auto;
        width:100%;
        max-width: 340px;
        max-height:64px;
        height:50vw;

        &:focus {
            color: black;
            background-color: transparent;
            border-color: transparent;
            outline: 0;
            box-shadow: 0 0 0 0.0rem transparent;
        }
    }
    .btn-arrow  {
        background-image: url('assets-home/arrow_save.svg');
        background-color:transparent;
        background-size: contain;
        background-repeat: no-repeat;
        height: 4.2rem;
        &:focus,
        &:active{
            background-image: url('assets-home/arrow_save.svg');
            color: black;
            background-color: transparent;
            border-color: transparent;
            outline: 0;
            box-shadow: 0 0 0 0.0rem transparent;
        }
    }
  }
  
}