.payment_methods_rocket_component {
	margin-top: 190px;
    .rocket-row-image {
		@include media-breakpoint-down(sm) {
			padding: 0 $medium-pad;
		}
        img {
            height: 420px;
			margin-bottom: $margin-xl;
            @include media-breakpoint-down(sm) {
				height: 250px;
				margin-top: $margin-xl;
				margin-bottom: $margin-xl;
			}	
			@include media-breakpoint-up(lg) {
                padding-right: 0px;
            }
        }        
	}
	
    .rocket-row-description {
        display: flex;
		justify-content: center;  
		@include media-breakpoint-down(sm) {
			padding: 0 $medium-pad;
		} 

        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
        }

        .row {
			justify-content: center;
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
            }
        }

        h2 {
            font-size: 1.4rem;
            font-weight: bold;
            text-align: left;
			margin-bottom: $margin-xl;
            @include media-breakpoint-up(lg) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 0.8rem;
			text-align: left;
			margin-bottom: $margin-xl;
            @include media-breakpoint-up(lg) {
                font-size: 1rem;
                text-align: left;
            }
        }

        .buttons-row {
			@include media-breakpoint-up(lg) {
                justify-content: flex-start;
			}
			
            .btn {

                width: 160px;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                letter-spacing: 0.65px;
                border: none;
                color: black;
                padding: 0;
                display: inline-block;
                margin-bottom: $margin-xl;
            }

            .btn-yellow-dashed {
                background-image: url('assets-home/button-dashed-yellow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 160px;
                height: 50px;
                line-height: 50px;
                box-shadow: 0px 0px 0px transparent!important;
            }
        }
	}
	.logo-rotator {
		@include media-breakpoint-down(md) {
			padding: 0 $padding-outer-mobile;
		}
	}
}
