.home_advantages_component{
    margin-top: 10rem;
    @include media-breakpoint-down(sm){
        margin-top: $big-mar;
    } 
    .icon {
        @include media-breakpoint-down(sm){
            margin-bottom: $medium-mar;
        }
    }
    .row-benefits {
        margin: $big-mar 0;
    }
    .benefit-container  {
        margin: $big-mar 0;
    }
    h4  {
        font-weight: 600;
        font-size: 1.5rem;
    }
    .col-lg-6 {
        margin-bottom: 40px;
    }
    p   {
        margin-top: 1.3rem;
        font-weight: 700;
    }
    h2 {
        @include media-breakpoint-up(md){
            font-size: 30px;
            font-weight: 600;
        }
        @include media-breakpoint-down(sm){
            font-size: 18px;
            font-weight: 600;
        }
    }
}
.pozdro {
    width: 100%;
    height: auto;
}
.pozdrowienia {
    margin-top: 120px;
    position: relative;
    .row {position: relative;display: block;}
    
    .gdansk {
        @include media-breakpoint-up(lg){
            height: 420px;
        }
        @include media-breakpoint-down(md){
            height: 220px;
        }
        @include media-breakpoint-down(sm){
            height: 120px;
        }
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        background-size:cover!important;
        background-position: 50%!important;
        background-repeat: no-repeat;
    }
    .wrapper {
        @include media-breakpoint-up(md){
            margin-top: $big-mar;
        }
        @include media-breakpoint-down(sm){
            margin-top: $small-mar;
        }
        position: absolute;
        display: flex;
        @include media-breakpoint-up(md){
            flex-direction: row;
        }
        @include media-breakpoint-down(sm){
            flex-direction: row;
        }
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .arrow {
            img {width: 25vw; }   
        }
        .greetings, .more {
            font-weight: bold;
            margin: 0 $medium-mar;
            color: #000000;
        }
        .greetings {
            @include media-breakpoint-up(lg){
                @include font-xxl;
            }
            @include media-breakpoint-down(md){
                @include font-xl;
            }
            @include media-breakpoint-down(sm){
                @include font-md;
            }
        }
        .more {
            @include media-breakpoint-up(lg){
                @include font-xl;
            }
            @include media-breakpoint-down(md){
                @include font-lg;
            }
            @include media-breakpoint-down(sm){
                @include font-sm;
            }
        }
    }
}