.home_rainbow_jumbotron_component {
    .pep-logo {
        height: 35px;
        opacity: 0.7;
    }
    &.normal {
        background-image: url('assets-home/background_gradient.svg');
    }
    &.grey {
        background-image: url('assets-home/background-grey.svg');
        .apple-title {
            padding-top: $big-pad;
            @include font-xxl;
            color: $color-gray;
            padding-bottom: $big-pad;
            border-bottom: 1px solid #9b9b9b;
        }
        .apple-icon {
            margin: $big-mar 0;
            img {

            }
        }
        .apple-content {
            border-top: 1px solid #9b9b9b;
            padding-top: $small-pad;
            @include font-md;
            font-weight: 300;
            color: $color-gray;
            padding-bottom: $big-pad;
            @include media-breakpoint-up(md){
                padding-left: 0;
                padding-right: 0;
            }
            @include media-breakpoint-down(sm){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .button-bar {
            margin-bottom: $big-mar;
            .btn-transparent {
                margin: 0 $small-mar;
                @include media-breakpoint-down(sm){
                margin: $small-mar 0;
                }
            }
        }
        .peplane {
            color: $color-gray;
            @include font-sm;
            padding-bottom: $big-pad;
            p{
                margin-bottom: $small-mar; 
            }
            img {
                max-width: 280px;
                opacity: 0.7;
            }
        }
    }
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg){
        padding-top:182px;
    }
    @include media-breakpoint-up(md){
        padding-top:140px;
    }
    @include media-breakpoint-down(sm){
        padding-top:100px;
    }
    color: $text-white;
    background-position: bottom center;
    background-size: cover;

    .big-icon-holder {
        background-image: url('assets-home/icon-wrap.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        width: 100%;
        height: 100%;    
        position: relative;
        .big-icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%)translateY(-50%);
            width: 40%;
            height: 40%;
            display: inline-block;
            max-width: 80%;
            max-height: 80%;
        }
    }
    .clients {
        margin-bottom: $medium-mar;
        img {
            width: 100%;
            max-width: 120px;
            opacity: 0.5;
            @include hover-transition;
            &:hover {
                opacity: 0.75;
            }
        }
    }
    .main-icon {
        margin-bottom: $big-mar;
    }
    .top-1st {
        min-height: 420px;
        max-width: 100%;
        @include media-breakpoint-up(md){
            margin-bottom: 80px;
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 40px;
        }
        

    }
    .top-2nd{
        h3 {
            @include font-xl;
            font-weight: 700;
            margin-bottom: $medium-mar;
            @include media-breakpoint-down(md){
                @include font-xl;
            }
            @include media-breakpoint-down(sm){
                @include font-lg;
            }
        }
        .button-bar{
            width: 100%;
            margin-bottom: 3.4rem; 
            .btn {
                border:2px solid white;
                text-align: center;
                border-radius: 6px;
                &.btn-white {
                    background-color:white;
                    color: $text-blue;
                    margin-left:$small-mar;
                    @include media-breakpoint-down(md){
                        margin-right: $small-mar;
                    }
                    @include media-breakpoint-down(sm){
                        margin-top: $small-mar;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
                &.btn-transparent {
                    background-color:transparent;
                    color: $text-white;
                }
            }
        }
        .underline{
            background: white;
            height: 2px;
            width: 240px;
            @include media-breakpoint-down(sm){
                width: 100%;
            }
            border-radius: 240px;
            margin-bottom:$medium-mar;
        }
        p {
            @include font-md;
            @include media-breakpoint-down(sm){
                @include font-sm;
            }
            width: 720px;
            max-width: 100%;
            &.pep-title {
                @include font-sm;
                font-weight:900;
                margin-bottom:$small-mar;
                opacity:0.7;
            }
        }
    }
    .bottom{
        @include media-breakpoint-up(lg){
            margin-top:7rem;
        }
        .bottom-1st{
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            margin-bottom: 5rem;
            .client-photo {
                display: inline-block;
                border: 4px solid #ffffff;
                border-radius: 240px; 
                width:120px;
                height: 120px;
                background-size:cover!important;
                background-position: 50%!important; 
            }
            
            .comment-col {
                padding-left:0;
                h5 {
                    margin-bottom: $small-mar;
                    @include font-sm;
                    font-weight: 600;
                }
                p {
                    @include font-xs;
                    font-weight: 600;
                }
            }
        }
        .bottom-2nd{
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            h5 {
                margin-top:1.3rem;
                margin-bottom: $small-mar;
                text-transform: uppercase;
                font-size:20px;
                font-weight: bold;
                color: #A9DCE3;
            }
        }
    }
}
.logo-block {
    padding-top:30px;
    h5 {
        color: #808080;
        @include font-md;
        font-weight: 800;
        margin-bottom:$medium-mar;
        font-weight: bold;
    }
    .clients_alter {
        width: 125px;
        margin: 0 30px 30px 30px;
        opacity: 0.7;
    }
    border-bottom: 1px solid #bebebe;
}