.contact-box-title {
    margin: 120px 0;
}
.contact-box{
    iframe {
        border:0px solid transparent!important;
        margin: -1px 0 0 -1px;
    }
    position: relative;
    .box-city {
        position: absolute;
        width: 220px;
        height: 220px;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        background: url('contact/city.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .box {
        background: white;
        width: 375px;
        height: 375px;
        max-width: 100%;
        border-radius: $radius-10;
        margin-bottom: $big-mar;
        overflow: hidden;
        display: inline-block;
        position: relative;
        @include hover-submit;
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $radius-10;
            overflow: hidden;
            background: rgba(0,0,0,0.65);
        }
        .box-view {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: 50%!important;
            background-size:cover!important; 
        }    
        .box-adress {
            position: relative;
            margin-top: $big-mar;
            margin-left: $big-mar;
            z-index: 9;
            color: white;
            @include font-md;
        }
    }
}