

.dev-book {
    min-width: 280px;
    width: 375px;
    max-width: 100%;
    border: 3px solid $color-marine-blue;
    border-radius: $radius-10;
    padding: $small-pad;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    .middle-text{
        margin: $small-mar 0;
    }
    .cpu, .book-white {
        position: relative;
        &:before{
            position: absolute;
            content:'';
            left: 5px;
            top: 5px;
            width: 20px;
            height: 30px;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            background-position: 0 0!important;
        }
    }
    .book-white:before {
            background: url('contact/book-open-white.svg'); 
    }
    .cpu:before {
            background: url('contact/cpu-white.svg'); 
    }
    .submit {
        width: 100%;
        display: block;
        border:0px solid;
        position: relative;
        padding: $small-pad;
        border-radius: $radius-5;
        background: $color-marine;
        font-weight: 700;
        @include font-sm;
        @include hover-transition;
        color: #ffffff;
        margin: 0;
        @include hover-submit;
        &:before{
            position: absolute;
            content:'';
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            background-position: 0 0!important;
        }
    }
}

.contact-wrapper{
    position: relative;
    .cloud {
        position: absolute;
        @media (min-width: 1271px) {
            &.right {
                right: -90px;
                top: 120px;
            }
            &.left {
                left: -60px;
                top: 90px;
            }
        }
        @media (min-width: 993px) and (max-width: 1920px) {
            &.right {
                right: -150px;
                top: 120px;
            }
            &.left {
                left: -150px;
                top: 90px;
            }
        }
        @media (min-width: 720px) and (max-width: 992px) {
            &.right {
                right: -250px;
                top: 120px;
            }
            &.left {
                left: -250px;
                top: 30px;
            }
        }
        @media (min-width: 0px) and (max-width: 719px) {
            &.right,
            &.left {
                display: none;
  
            }
        }
    }
    .wings {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: $medium-mar;
    }
    .sale-plate {
        @include marine-gradient;
        position: relative;
        width: 120px;
        height: 120px;
        display: block;
        border-radius: 900px;
        overflow: hidden;
        margin: $big-mar auto;
        .sale-face {
            width: 110px;
            height: 110px;
            border-radius: 250px;
            position: absolute;
            overflow: hidden;
            top:50%;
            left:50%;
            background-position: 50%!important;
            background-size: cover!important;
            transform: translateX(-50%)translateY(-50%);
        }
    }
    .form-title {
        @include font-lg;
        font-weight: 200;
        margin-bottom: $big-mar;
    }

    .contact-title{
        margin-top: 60px;
        .separator {
            margin: $small-mar 0;
        }
        p {
            max-width: 720px;
            
            display: inline-block;
        }
    }
    
    
    .sales-wrapper, .contact-wrapper{
        .form-error {
            position: absolute;
            top: 0;
            right: 0;
        }
        text-align: center;
        margin-top: 120px;
        position: relative;
        transform: translateY(0px);
        @include hover-transition;
        &:hover {
            transform: translateY(-6px);
        }
        .subtitle {
            @include font-md;
            font-weight: 600;
            margin-bottom: $small-mar;
        }
    }

    .contact-wrapper {
        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: #bebebe;
        }
    }

    .support-form, .sales-form{
            min-width: 280px;
            width: 375px;
            max-width: 100%;
            border: 3px solid $color-marine-blue;
            border-radius: $radius-10;
            padding: $small-pad;
            display: inline-block;
            position: relative;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            margin-bottom: $big-mar;

            .name-icon, .surname-icon,.email-icon,.company-icon,.website-icon,.phone-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .message-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 5px;
                    top: 5px;
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .name-icon:before {
                    background: url('contact/user.svg'); 
            }
            .surname-icon:before {
                background: url('contact/user.svg'); 
            }
            .email-icon:before {
                background: url('contact/mail.svg'); 
            }
            .company-icon:before {
                background: url('contact/paperclip.svg'); 
            }
            .website-icon:before {
                background: url('contact/book-open.svg'); 
            }
            .phone-icon:before {
                background: url('contact/phone.svg'); 
            }
            .message-icon:before {
                background: url('contact/feather.svg'); 
            }
            .submit:before {
                background: url('contact/send.svg'); 
            }
            
            p{
                margin: $small-mar 0 $medium-mar 0;
                @include font-sm;
            }

            button, input {
                width: 100%;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-bottom: 2px;
                @include font-sm;
                border-color: $color-marine-blue;
                border-style: solid;
                margin: $small-mar 0;
                padding: 0 0 8px $medium-pad;
                line-height: 18px;
                @include hover-transition;
                &:focus {
                    outline: none;
                    border-color: $color-marine;
                }
            }

            .submit {
                border:0px solid;
                position: relative;
                padding: $small-pad;
                border-radius: $radius-5;
                background: $color-marine;
                font-weight: 700;
                @include font-sm;
                color: #ffffff;
                margin: 0;
                @include hover-submit;
                &:before{
                    position: absolute;
                    content:'';
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }

            textarea {
                border: 0px;
                background: #e8e8e8;
                border-radius: $radius-5;
                width: 100%;
                min-height: 150px;
                padding: $small-pad $small-pad $small-pad $medium-pad;
            }
    }
    .contact-title{}
}