.learn-header {
    background-image: url('learn/paylane-book.png');
    min-height: 280px;
    color:#000000;
    background-size: cover!important;
    background-position: 50%!important;
    .cover{
        background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6));
        min-height: 280px;
        .title {
            position: relative;
            display: inline;
            font-size: 48px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -160px;
                width: 120px;
                height: 1110px;
                background-image: url('learn/book-open.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
    }
}