.learn-loop{
    .separator {
        margin: 40px 0;
    }
    .title {
        margin: 0 $small-mar;
    }
    $learn-menu-grey: #bebebe;
    .learn-menu {
        display: inline-flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        margin-bottom: $big-mar;
        li {
            display: inline;
            border:1px 1px 0px 1px solid $learn-menu-grey;
            a{
                color: #000000;
                padding: 8px $small-pad;
                display: inline-block;
            }
            &:hover, &.current-cat {
                background: $learn-menu-grey;
                a {
                    color: #ffffff;
                }
            }
        }
        li:first-child {
            border-left: 1px solid $learn-menu-grey;
            border-top: 1px solid $learn-menu-grey;
            border-bottom: 1px solid $learn-menu-grey;
            border-radius: 5px 0px 0px 5px;
            border-right: 0px;
        }
        li:last-child {
            border-left: 1px solid $learn-menu-grey;
            border-right: 1px solid $learn-menu-grey;
            border-top: 1px solid $learn-menu-grey;
            border-bottom: 1px solid $learn-menu-grey;
            border-radius: 0px 5px 5px 0px;
        }
    }
    .article-wrapper {
        position: relative;
        margin-bottom: 60px;
        .icon {
            background-size: contain;
            background-position: 50%;
            height: 20px;
            width: 20px;
            right: 35px;
            bottom: 20px;
            position: absolute;
            z-index: 9;
            &.icon-normal {
                background-image: url('learn/check-circle.svg');
            }
            &.icon-normal-green {
                background-image: url('learn/check-circle-green.svg');
            }
            &.icon-video {
                background-image: url('learn/play-circle.svg');
            }
        }
    }
    .article {
        height: 320px;
        background-size: cover!important;
        background-position: 50%!important;
        position: relative;
        color: #ffffff;
        @include font-md;
        font-weight: 600;
        border-radius: $radius-10;
        overflow: hidden;
        .cover {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
            background-image: url('learn/dark-cover.svg');
            background-size: cover;
            background-position: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
        @include font-sm;
        color: #ffffff;
    }
    .author {
        width: 90px;
        height: 90px;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        background: grey;
        border: 5px solid white;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        overflow: hidden;
        background-position: 0 25%!important;
        background-repeat: no-repeat;
        background-size: cover!important;
        border-radius: 250px;
    }
}