.payment_methods_launchpad_component {
    margin-top: $margin-xl;
    .launchpad-row {
        @include media-breakpoint-up(lg) {
            background-image: url('assets-platnosci/Oval-bottom.svg');
            background-repeat: no-repeat;
            background-position: center -280%;
            height: 600px;
		}		

		.launchpad-image {
            padding: 0;
            height: 250px;
            background-origin: padding-box;
            background-position: center;
            background-image: url('assets-platnosci/start-platform.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: $margin-xl;
            @include media-breakpoint-up(lg) {
                height: 548px;
                background-origin: content-box;
                padding-right: 100px;
                background-position: right;
                margin-bottom: 0;
            }
        }

        .launchpad-description {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                padding: 0 $padding-outer-mobile;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: $margin-xl;
            }

            .row {
				justify-content: center;
				@include media-breakpoint-up(lg) {
					justify-content: flex-start;
				}
			}
			
			h2 {
				font-size: 1.4rem;
				font-weight: bold;
				text-align: left;
				margin-bottom: $margin-xl;
				@include media-breakpoint-up(lg) {
					font-size: 2rem;
				}
			}
	
			p {
				font-size: 0.8rem;
				text-align: left;
                visibility: hidden;
                height: 0;
                margin-bottom: 0;
                &.active{
                    visibility: visible;
                    height: auto;
                    margin-bottom: $margin-xl;
                }
				@include media-breakpoint-up(lg) {
					font-size: 1rem;
					text-align: left;
				}
			}	
        }

        .logos-row {         
            margin-bottom: $margin-xl;
            overflow: hidden;
            .logos-inner-row {
                padding: 0;
                img {
                    height: 38px;
                    display: inline-block;
                    margin: 10px;
                }
                img:not(.active) {
                    -webkit-filter: grayscale(100%) opacity(30%);
                    filter: grayscale(100%) opacity(30%);
                }
            }
        }

        .buttons-row {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: $margin-xl;
            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }

            .col-break {
                align-self: center;
                padding: 0;
                text-align: center;
                margin-bottom: $margin-xl;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            .btn {
                width: 160px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                padding: 0;
                margin-bottom: $margin-xl;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
