.payment_methods_paper_plane_component {
    .paper-plane-row {
        margin-bottom: $margin-xxl;
        @include media-breakpoint-up(xl) {
            margin-top: 150px;
            margin-bottom: 0;
        }
        @include media-breakpoint-down(md) {
            margin-top: 80px;
            margin-bottom: 0;
        }

        .paper-plane-image {
            height: 170px;
            width: 223px;
            background-image: url('assets-platnosci/Plane-paper.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .paper-plane-description {
            margin-top: $margin-xxl;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                margin-bottom: $margin-xl;
            }

            .row {
                justify-content: center;
            }

            .description-wrapper {
                @include media-breakpoint-up(md) {
                    text-align: left;
                    padding: 0 15px;
                }
                padding: 0 $padding-outer-mobile;
            }

            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                text-align: left;
                margin-bottom: $margin-xl;
                @include media-breakpoint-up(lg) {
                    font-size: 2rem;
                }
            }

            .buttons-row {
                display: flex;
                justify-content: center;

                .show-absolute {
                    position: absolute;
                    height: 200px;
                    width: 240px;
                    left: -275px;
                    top: -150px;
                    @include media-breakpoint-up(xl) {
                        height: 288px;
                        width: 371px;
                        left: -395px;
                        top: -244px;
                    }
                }

                .col-break {
                    align-self: center;
                    padding: 0;
                    text-align: center;
                    margin-bottom: $margin-xl;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }
                }

                .btn {
                    width: 160px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    margin-bottom: $margin-xl;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .text-wrapper {
            padding: 0 $padding-outer-mobile;
            font-size: 0.8rem;
            text-align: left;
            @include media-breakpoint-down(sm) {
                margin-bottom: $margin-xl;
            }
            @include media-breakpoint-up(md) {
                padding: 0 15px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1rem;
            }
        }
    }
}
