.press_header {
    position: relative;
        margin-top: 120px;
        .author-wrapper {
            overflow: hidden;
            position: relative;
             .name {color: #000000}
             .name, .date {font-size: 12px;font-weight: bold; margin: 15px 0px;}
    }
    .title {
        text-transform: uppercase;
    }
    img, .cover {top: 0;}
}