.press_submenu {
    display: block;
    margin: $big-mar 0;
    visibility: visible;

    .mailer {
        margin: $small-mar 0;
    }
    .press {
        margin: $small-mar;
        font-size: 12px;
        font-weight: 700;
        display: inline-block;
        @include media-breakpoint-down(sm) {
        display: block;
        }
    }
    .download {
        margin-bottom: $big-mar;
    }
    .btn {
        margin: $small-mar;
    }
}