.faq_header_component{
    background-image: url('assets-faq/upper-shape.svg');
    background-size: auto 100%;
    @include media-breakpoint-up(xl){
        background-size: 100% auto;
    }
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    &.nav-shown{
        transform: translate(300px);
    }
    .row{
        position:relative;
        min-height: 585px;
        @include media-breakpoint-up(md){
            .cover{
                top:30%;
            }
        }
        @include media-breakpoint-down(md){
            min-height: 400px;
            .cover{
                top:30%;
            }
        }
        @include media-breakpoint-down(sm){
            min-height: 250px;
            .cover{
                top:32%;
            }
        }
        .cover {
            position: absolute;
            
            h2{
                font-size:5rem;
                @include media-breakpoint-down(md){
                    font-size:2rem;
                    margin-top:2rem;
                }
                @include media-breakpoint-down(sm){
                    font-size:1.6rem;
                    margin-top:0;
                }
                text-transform: uppercase;
                font-weight:bold;
                img{
                    margin-right:2rem;
                    @include media-breakpoint-down(md){
                        height:70px;
                    }
                    @include media-breakpoint-down(sm){
                        height:50px;
                    }
                }
            }
        }
    }
}