.about-video{
    .photo-header {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover!important;
        background-position: 50%!important;
        background-repeat: no-repeat!important;
    }
    .controls {
        #play-pause, #volume-up-down {
            width: 30px;
            height: 30px;
            display: inline-block;
            position: relative;
            background-position: center!important;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            cursor: pointer;
            margin-right: $small-mar;
        }
    }
    .control-drawer{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        bottom: 20px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        .controls,.more,.social {
            flex: 1;
        }
        .controls {
            justify-self: flex-start;
        }
        .more {
            text-align: center;
            justify-self: center;
            a {
                color: white;
                opacity: 0.7;
                @include hover-transition;
            }
            a:hover {
                opacity: 0.85;
                @include hover-transition;
            }
            img {
                margin-left: 30px;
            }
        }
        .social {
            text-align: right;
            justify-content: flex-end;
            .social-icon {
                margin-left: 10px;
                opacity: 0.8;
                cursor: pointer;
                @include hover-transition;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    


    color: white;
    position: relative;
    overflow: hidden;
    padding-bottom: $big-pad;
    #video-header{
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
    }
    .title {
        color: white;
        @include font-xxl;
        font-weight: 700;
        margin-top: $big-mar;
        margin-bottom: $medium-mar;
    }
    .contents {
        padding-bottom: 40px;
    }
}

.about-offer {
    color: #000000;
    position: relative;
    margin-bottom: 120px;
    .title {
        @include font-xl;
        margin: $big-mar 0;
    }
    .copy {
        @include font-md;
        color: #808080;
    }
    .cities {
        margin-top: $big-mar;
        .rect {
            width: 220px;
            height: 220px;
            max-width: 100%;
            display: inline-block;
            border-radius: $radius-10;
            overflow: hidden;
            background-size: cover!important;
            background-position: 50%!important;
        }
        .city:nth-child(even){
            padding-top: 80px;
            @include media-breakpoint-down(md) {
                padding-top: 0;
            }
        }
        .city {
            @include media-breakpoint-down(md) {
                margin-bottom: $small-pad;
            }
        }
    }

    .button-dock {
        margin: 80px 0;
        span {
            @include font-sm;
            font-weight: 600;
            display: inline-block; 
            margin: 0 $small-mar;
        }
        @include media-breakpoint-down(sm) {
            span {
                width: 100%;
                margin: $small-mar 0;
            }
        }
    }
}
.security {
    .separator {
        border-radius:0;
    }
    .image-holder {
        color: white;
        display: flex;
        align-content: center;
        align-items: center;
        min-height: 380px;
        .separator {
            z-index: 9;
            width: 100%;
            position: absolute;
            left: 0;
            height: 5px;
            &.bottom{
                bottom: 0;
            }
            &.top {
                top: 0;
            }
        }   

        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover!important;
            background-position: 50%!important;
        }
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }
        .quote {
            @include font-md;
            font-weight: 600;
            z-index: 9;
            z-index: 9;
            width: 70%;
            position: absolute;
            justify-self: center;
            right: 0;
            left: 0;
            margin: 0 auto;
            .quote-author {
                text-align: right;
            }
        }
    }
    .content-holder {
        align-self: center;
        padding-left: $big-pad;
    }
    .image-holder, .content-holder { margin-bottom:$big-mar; position: relative;}
    .content {
        @include font-sm;
        width: 640px;
        max-width: 100%;
    }

    .shield {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}
.clients {
    .clients-wave {
        margin: $big-mar 0 0 0;
        align-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        z-index: 9;
        li
        {
            margin: $small-mar;
            text-align: center;
            justify-content: center;
            align-items: center;
            align-content: center;
            
        }
        ul {
            margin: 0;
            display: flex;
            align-items: center;
            align-content: center;
        }
        img {
            width: 120px;
            height: auto;
        }
    }
}
.buttons {
    margin-top: 120px;
    margin-bottom: 120px;

    .button-bar {
        span {font-weight: bold;}
    }
    .separator {
        margin-top: 80px;
    }
}

.charity {
    .charity-holder {
        padding: 0;
    }
    .separator {
        border-radius:0;
        height: 5px;
    }
    .title {
        margin-bottom: $medium-mar;
        @include media-breakpoint-down(md) {
            margin-top: $medium-mar;
        }
    } 
    p {
        @include font-md;
        font-weight: 300;
        color: $color-gray;
    }
    .button-bar {
        margin-top:40px;
        span {
            font-weight: bold;
        }
    }
}
.about-payment {
    margin-top: 120px;
    .title, .content, .glide4 {margin-bottom: 40px;}

    .bankster {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.7;
        @include hover-transition;
        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1; 
        }
    }
    
}
.quote {
    position: relative;
    margin: 120px auto;
    .ceo-row {
        margin-bottom: 120px;
    }
    .ceo-image {
        @include media-breakpoint-down(sm) {
            order:1;
            margin-bottom: $small-mar;
        }
        img {
            border-radius: 15px;
            overflow: hidden;
        }
    }
    .ceo-content {
        @include media-breakpoint-down(sm) {
            order:2;
        }
        &::after {
            top: 0;
            right: 0;
            height: 100%;
            position: absolute;
            width: 2px;
            content: '';
            background: rgb(66,167,230); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(66,167,230,1) 0%, rgba(99,201,172,1) 51%, rgba(255,210,4,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(66,167,230,1) 0%,rgba(99,201,172,1) 51%,rgba(255,210,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(66,167,230,1) 0%,rgba(99,201,172,1) 51%,rgba(255,210,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a7e6', endColorstr='#ffd204',GradientType=0 );
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    .ceo-quote {
        @include font-lg;
        font-weight: 300;
        @include media-breakpoint-down(sm) {
            @include font-md;
        }
    }
    .position {
        @include font-md;
        font-weight: 400;
    }
    .gradient-line {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42a7e6+0,63c9ac+51,ffd204+100 */
        background: rgb(66,167,230); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(66,167,230,1) 0%, rgba(99,201,172,1) 51%, rgba(255,210,4,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(66,167,230,1) 0%,rgba(99,201,172,1) 51%,rgba(255,210,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(66,167,230,1) 0%,rgba(99,201,172,1) 51%,rgba(255,210,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a7e6', endColorstr='#ffd204',GradientType=0 ); /* IE6-9 */
    }
}
.work_single_members_img {
    h1.title {
        @include font-xxl;
        @include media-breakpoint-down(md) {
            @include font-xl;
        }
        @include media-breakpoint-down(sm) {
            @include font-lg;
        }
        margin-bottom: $big-mar;
        color: $color-gray;
    }
    .title,
    .subtitle{
        font-weight: 300;
        margin-bottom: $medium-mar;
    }
    .subtitle {
        @include font-lg;
        color: $color-gray;
    }
    .member-img {
        margin-bottom: 80px;
    }
}
.czywiesz {
    .know-title {
        margin-top: $big-mar;
        margin-bottom: $medium-mar;
        color: $color-gray;
        @include font-xxl;
        font-weight: 300;
        @include media-breakpoint-down(sm) {
            @include font-xl;
        }
    }
    .know-subtitle {
        color: $color-gray;
        margin-bottom: $medium-mar;
        @include font-lg;
        font-weight: 300;
        @include media-breakpoint-down(sm) {
            @include font-md;
        }
    }
    
}