.ebook_preview_component {
    margin-top: $big-mar;

    .description-col {
		align-content: stretch;
		@include media-breakpoint-down(md) {
			padding: 0 $medium-pad;
		}
    }

    .author {
        color: #B1B1B1;
        font-size: 0.65rem;
    }

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    p {
        font-size: 0.6rem;
        line-height: 1.1rem;
	}
	
	.btn-row {
		text-align: center;
		margin-bottom: $small-mar;

		@include media-breakpoint-up(md) {
            text-align: left;
        }
	}

    .image-col {
		text-align: center;
		@include media-breakpoint-down(md) {
			padding: 0 $medium-pad;
		}
        @include media-breakpoint-up(md) {
            text-align: right;
        }

        img {
            border-radius: $radius-10;
        }

    }

	.social-btn-row {
		align-self: center;
		@include media-breakpoint-up(md) {
            align-self: flex-start;
        }
	}

    .social-icon {
        margin-left: 1rem;
    }

}
