.oferta_promo {
    margin-top: $big-mar;
    margin-bottom: $big-mar;
    h5,a    {font-size: 14px;   font-weight: 600;}
    p   {@include font-sm; font-weight: 400; margin: $small-mar 0; min-height: 100px;}
    
    .promo-wrapper {
        margin-bottom: $big-mar;
    }
    .waves {
        justify-content: center;
        align-items: flex-start;
        flex: 1;
        display: flex;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        margin-bottom: $small-mar;
        position: relative;
        .wave {
            width: 100%;
        }
        .icon {
            position: absolute;
            left: 50%;
            top:40%;
            transform: translateX(-50%)translateY(-50%);
            max-height: 50%;
        }
    }
    a{
        color: #000000;
        @include hover-transition;
        &:hover{
            color: $color-blue;
        }
        .chevron {
            margin-left: $small-mar;
            height: inherit;
            img {
                margin-bottom: 2px;
            }
        }
    }
}