.oferta_single{
    position: relative;
    .cloud {
        position: absolute;
        @media (min-width: 1271px) {
            &.right {
                right: -90px;
                top: 120px;
            }
            &.left {
                left: -60px;
                top: 90px;
            }
        }
        @media (min-width: 993px) and (max-width: 1920px) {
            &.right {
                right: -150px;
                top: 120px;
            }
            &.left {
                left: -150px;
                top: 90px;
            }
        }
        @media (min-width: 720px) and (max-width: 992px) {
            &.right {
                right: -250px;
                top: 120px;
            }
            &.left {
                left: -250px;
                top: 30px;
            }
        }
        @media (min-width: 0px) and (max-width: 719px) {
            &.right,
            &.left {
                display: none;
  
            }
        }
    }
    .icon-header {
        margin: $big-mar 0;
        padding: $big-pad;
        @include media-breakpoint-between(xs, md) {
            margin: $small-mar 0;
            padding: $small-pad;
        }
        img {
            height: 200px;
            max-width: 100%;
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 700;
        margin: 0 $small-mar $big-mar $small-mar;
        @include media-breakpoint-between(xs, md) {
            font-size: 24px;
            margin: 0 $small-mar $small-mar $small-mar;
        }
    }
    .social-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 104px;
        margin-bottom: $medium-mar;
        margin-top: $big-mar;
        img {
            margin: 0px 5px;
            filter: grayscale(100%);
            @include hover-transition;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
    .content {
        padding-top: 40px; 
        padding-bottom: 40px; 
    }
    p {
        margin: $small-mar 0;
    }
    .goback {
        @include hover-transition;
        color: $text-blue--deep;
        margin: $small-mar $big-mar;
    }
    .goback:hover{
        cursor: pointer;
        @include hover-transition;
        color: $text-blue--verydeep;
    }

    .story {
        margin: $medium-mar auto;
        max-width: 320px;
        .oval {
            width: 120px;
            height: 120px;
            margin: 0 auto -60px auto;
            border-radius: 100%;
            display: block;
            position: relative;
            overflow: hidden;
            border: 5px solid white;
            background-position: 50%!important;
            background-size: cover!important;
            background-repeat: no-repeat!important;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
        }
        .story-text {
            border: 1px solid #cecece;
            padding: 80px 20px 20px 20px;
            background: white;
            border-radius: $radius-10;
            box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
            p {
                margin: 0;
                @include font-xs;
            }
            p.name {
                margin: 10px 0 0 0;
                font-weight: 600;
            }
            p.position {
                margin: 0 0 10px 0;
            }
            p.name,p.position {
                text-align: center;
            }
        }

    }
}