.page-template-page-partnership{

}
.partnership {
    position: relative;
    color: $color-gray;
    .title {
        margin: $big-mar 0;
        @include font-xl;
        font-weight: 300;
    }
    .main-content {
        font-weight: 300;
        margin-bottom: $big-mar;
        @include font-sm;
    }
    .benefit-holder {
        margin-bottom: $big-mar;
        .icon{  height: 90px;   }
        .title{ margin: 20px 0px; @include font-sm; font-weight: bold;  }
        .content{   @include font-sm;   }
    }
    .form-partner-title {
        @include font-md;
        margin-bottom: $small-mar;
        font-weight: 600;
    }
    .contact-wrapper {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        top: 114px;
        @include media-breakpoint-down(sm) {
            order: 2;
        }
        .form-error {
            position: absolute;
            top: 0;
            right: 0;
        }
    }



    .cloud-left {
        position: absolute;
        left: -300px;
        top: 120px;
        @include media-breakpoint-down(md) {
            display: none;
            left: 0;
            top: -170px;
        }
        @include media-breakpoint-down(sm) {
            display: none;
            width: 170px;
            top: -100px;
        }
    }
    .cloud-right {
        position: absolute;
        right: -300px;
        top: 80px;
        width: 241px;
        @include media-breakpoint-down(md) {
            display: none;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.partners {
    margin-bottom: 240px;
    .hohoho {
        position: relative;
    }
    .separator-gradient--full-width {margin: 0;}
    .partners-title {
        font-weight: 300;
        color: $color-gray;
        margin-top: 120px;
        margin-bottom: $big-mar;
        @include font-xl;
        @include media-breakpoint-down(sm) {
            @include font-lg;
        }
    }
    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        img {
            width: 100%;
            @include media-breakpoint-down(md) {
                width: initial;
                max-width: initial;
            }
        }
    }
    .clients-wave {
            margin: $big-mar 0 0 0;
            align-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            z-index: 999;
            li
            {
                margin: $small-mar;
                text-align: center;
                justify-content: center;
                height: initial;
                
            }
            ul {
                margin: 0;
                display: flex;
                align-items: center;
                align-content: center;
            }
        img {
            width: 120px;
            height: auto;
        }
    }
}