.blog_full_image_title_header {
    position: relative;
    background-position: 50%;
    background-size: cover;
    min-height: 380px;
    color:white;
    .cover {
        background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7));
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        display: flex;
    }
        .author-wrapper {
            max-width: 320px;
            overflow: hidden;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%)translateY(50%);
            .author {
                width: 92px;
                height: 92px;
                display: inline-block;
                overflow: hidden;
                position: relative;
                border-radius: 200px;
                border: 6px solid white;
                background-size: cover!important;
                background-position: 0 25%!important;
             }
             .name {color: #000000}
             .name, .date {font-size: 12px;font-weight: bold; margin: 15px 0px;}
    }
    .title {
        text-transform: uppercase;
    }
    img, .cover {top: 0;}
}