.errors {
    margin-top: $big-mar;
    .galaxy {
        position: relative;
        .start {
            position: absolute;
            top: 15%; left:50%;
            transform: translateX(-50%);
        }
    }
    .galaxy-title {
        h2{
            @include font-lg;
        font-weight: 600;
        }  
    }
    .galaxy-claim {
        margin-top: $small-mar;
        @include font-md;
    }
}
