$devzone_mobile_breakpoint: 1300px; //cause mobile menu mode 
@mixin dev_big_title(){
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
@mixin dev_middle_title(){
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@mixin dev_standard_font{
    font-size:14px;
}

@mixin dev_small_font{
    font-size:11px;
    letter-spacing: 1px;
    @include media-breakpoint-down(sm){
        font-size: 9px;
    }
}

.devzone_section_viewer_component{
    
    //main layout
    @media all and (max-width:$devzone_mobile_breakpoint){
        overflow: hidden;
        &.nav-shown{
            .col-nav-menu{
                transform: translate(0);
            }
            .col-content{
                transform: translate(380px);
            }
            #devopener {
                transform: translate(-33px) rotate(180deg);
                
            }
            #openerfilter {
                transform: translate(300px);
            }
        }
    }
    .devzone-header{
        margin-bottom:36px;
        margin-top:60px;
        h2{
            font-size:1.6rem;
            font-weight:bold;
            letter-spacing: 0.1rem;
        }
    }
    
    #openerfilter{
        display:none;
        @media screen and (max-width:$devzone_mobile_breakpoint) {
            display:block;
            position:fixed;
            z-index: 99999;
            background-color: rgba(0,0,0,.5);
            width:100%;
            height:100%;
            transform:translate(100%);
            transition: 0.3s ease-in-out;
        }
    }


    .col-nav-menu { 
        transition: 0.3s ease-in-out;
        #devopener {
            display:none;
            @media all and (max-width: $devzone_mobile_breakpoint){   
                display: block;
                position: fixed;
                right: -33px;
                top: 2vh;
                background-image: url('./assets-devzone/mobile-circle.svg');
                z-index: 99999;
                width:38px;
                height:78px;
                text-align: center;
                line-height: 78px;
                
                
            }
        }
        @media all and (min-width: $devzone_mobile_breakpoint){
            border-right-width: 3px;
            border-right-style: solid;
            border-image: linear-gradient(to bottom, #FDECB0,#F76C1D) 1 100%;
            flex: 0 0 13.55%;
            max-width: 13.55%;
        }
        
        @media all and (max-width: $devzone_mobile_breakpoint){   
            z-index: 9999;
            position:fixed;
            top:90px;
            transform: translate(-300px);
            width:300px;
            height:100%;
            background:white;
        }
    }

    .col-content {
        transition: 0.3s ease-in-out;
        .page-content{
            margin-bottom:160px;
            @include media-breakpoint-down(md){
                .col-left,
                .col-right{
                    width:100%;
                
                }
            }
            @media all and (min-width:$devzone_mobile_breakpoint){
                .sticky-wrapper {
                    position:sticky;
                    top:90px;
                }
                .col-left{
                    padding-left:40px;
                    &:not(.no-col-r){
                        flex: 0 0 46%;
                        max-width: 46%;
                    }
                    &.no-col-r{
                        padding-left:40px;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                .col-right{
                    &:not(.no-col-l){
                        flex: 0 0 54%;
                        max-width: 54%;
                    }
                    &.no-col-l{
                        padding-left:40px;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    //widgets
    .NavMenuWidget{
        margin-top:60px;
        .devzone_section_viewer_root {
            list-style: none;
            padding-left:0;
            padding-right: 15px;
            .menu-item {
                font-size: 14px;
                font-weight: 700;
                letter-spacing:1.5px;
                a{
                color: $color-gray;
                padding: 3px 10px;
                }
                .sub-menu{
                    list-style: none;
                    letter-spacing:1.5px;
                    padding-left: 28px;
                        
                    a{
                        font-weight: normal;
                        font-size: 13px;
                        letter-spacing: 0.6px;
                        color: #212529;
                        padding: 5px 0;
                        display: block;
                        margin-right: 15px;
                        word-wrap: break-word;
                    }
                        
                }
                span{
                    padding: 2px 4px;
                }
                &.current-menu-item,
                &.current-menu-parent{
                    &>a{
                        background-color: $color-yellow;
                    }
                    .sub-menu{
                        overflow:hidden;
                    }
                }
            }
        }
    }

    .IntroWidget{
        h3 {
            @include dev_big_title();
        }
    }
    
    @mixin FlatTableWidget {
        h4{
            @include dev_big_title();
            margin-top:20px;
        }

        th,
        td {
            @include dev_small_font();
            padding-left: 0;
            border-bottom: 1px solid #dbdbdb;
            border-top:none;
        }

        
    }

    .TwoColumnTableWidget{
        @include FlatTableWidget();
    }
    
    .ThreeColumnTableWidget{
        @include FlatTableWidget();
    }
    

    @mixin TableWidget(){
        @include dev_small_font();
        margin-bottom: 20px;
        h4{
            @include dev_middle_title();
        }
        .col{
            padding-top:5px;
            padding-bottom: 5px;
            word-wrap: break-word;
        }
        .expanded-row + .row{
            .divider-line{
                visibility: hidden;
            }
        }
        .frame{
            margin-left:-15px;
            margin-right:-15px;
            padding-left:20px;
            padding-right:20px;
            padding-bottom: 5px;
            @media all and (max-width: $devzone_mobile_breakpoint) {
                margin-left:-4px;
                margin-right:-4px;    
                padding-left:6px;
                padding-right:6px;
                padding-bottom:2px;
            }
            @media all and (min-width: $devzone_mobile_breakpoint) {
                &.level-1{
                    margin-left:-20px;
                    margin-right:-20px;
                    padding-left:20px;
                    padding-right:20px;
                }
            }
            border-radius: $radius-5;
            .btn{
                box-shadow: none;
                &:hover{
                    transform: none;
                }
                
                font-size:12px;
                padding:0.2rem 2rem;
                font-weight: bold;
                background-repeat: no-repeat;
                background-position-x: 10px;
                background-position-y: center;
                @include media-breakpoint-down(md){
                    font-size: .6rem;
                    padding:0.2rem 0.5rem;
                }
                
                &.btn-collapse{
                    border:1px solid $text-blue;
                    background-color: $text-blue;
                    background-image: url('./assets-devzone/chevron-up.svg');
                    color:white;
                    @media all and (max-width: 512px){
                        background-image: none
                    }
                }
                &.btn-expand{
                    border:1px solid $color-yellow;
                    background-image: url('./assets-devzone/chevron-down.svg');
                    @media all and (max-width: 512px){
                        background-image: none
                    }
                }
                
            }
            &.collapsed-structure{
                
                .divider-line{
                    border:1px solid #DBDBDB;
                    width:100%;
                }
                
                .detailed-substructure{
                    visibility:hidden;
                    height:0;
                }
            }
            &.expanded-structure {    
                &>.divider-line{
                    visibility: hidden;
                }
                 

                &.odd{        
                        border: 1px solid #979797;
                        background-color: #F6F6F6;
                        >.row>.detailed-substructure>.row>.col-12>h4,
                        >.row>.col-1st {
                            color: #0E77B4;
                        }
                }
                &.even{
                    
                        border: 1px solid #979797;
                        background-color: #FFFFFF;
                        >.row>.detailed-substructure>.row>.col-12>h4,
                        >.row>.col-1st {
                            color: #0E77B4;
                        }
                }
            }
            
        }
    }
    .RequestTableWidget{
        @include TableWidget();
        .col-1st{
            max-width: 19%;
            font-weight: bold;
        }
        .col-2nd{
            max-width: 14%;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
        }
        .col-3rd{
            max-width: 14%;
            font-weight: bold;
            @include media-breakpoint-down(sm){
                max-width: 20%;
            }

        }
        .col-4th{}
    }
    .ResponseTableWidget{
        @include TableWidget();
        .col-1st{
            max-width: 19%;
            font-weight: bold;
        }
        .col-2nd{
            max-width: 14%;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
        }
        
        .col-3rd{}
    }
    

    @mixin CodeEditor() {
        font-weight: normal;
        margin-bottom: 20px;
        .line-numbers {
            @include dev_small_font();
            border-radius: $radius-15;
        }
        .request-title{
            @include dev_big_title();
        }
        .language_changer{
            span {
                cursor: pointer;
                letter-spacing: 0.38px;
                &.active{ font-weight: bolder; letter-spacing: 0;}
            }
            
        }
        
    }
    .RequestCodeEditorWidget{
        @include CodeEditor();
    }
    .ResponseCodeEditorWidget{
        margin-top:20px;
        @include CodeEditor();
    }

    .RequestEndpointWidget{
        margin-top:40px;
        margin-bottom: 40px;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        padding-top:8px;
        padding-bottom:8px;
        font-size:14px;
        @include media-breakpoint-down(sm){
            font-size:12px;
            text-align: center;
        }
        letter-spacing: 1px;
        font-weight: bolder;
        .request_uri{
            background-color:$color-yellow;
            padding:2px 8px 2px 8px;
            border-radius: $radius-5;
        }
    }

    .RequestEndpointErrorWidget{
        .endpoint-info{
            margin-top:10px;
            margin-bottom: 10px;
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            padding-top:8px;
            padding-bottom:8px;
            font-size:14px;
            @include media-breakpoint-down(sm){
                font-size:12px;
                text-align: center;
            }
            letter-spacing: 1px;
            font-weight: bolder;
            .request_error{
                background-color:red;
                padding:2px 8px 2px 8px;
                border-radius: $radius-5;
                color:white;
            }
        }
    }
}