.main-body {
    overflow: hidden;
}
.home_world_range_component{
    margin-top:3rem;
    margin-bottom:2.5rem;   
    h2 {
        
        @include media-breakpoint-up(lg){
            margin-bottom: 6rem;
            @include font-xxl;
        }
        @include media-breakpoint-down(md){
            margin-bottom: 6rem;
            @include font-xl;
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 40px;
            @include font-xl;
        }
        font-weight: 600;
    }
    .text-row {
        margin-top:4.4rem;
        h4{
            font-weight: 600;
            @include media-breakpoint-up(lg){
                @include font-xl;
            }
            @include media-breakpoint-up(md){
                @include font-lg;
            }
            letter-spacing: 0.1rem;

        }
    }
    .button-row {
        margin-top: 2.6rem;
        margin-bottom: 5rem;
    }
    .cloud {
        position: absolute;
        &.cloud-left-1 {
            top: 10%;
            left: 0px;
            @include media-breakpoint-down(md){
                left: -190px;
            }
        }
        &.cloud-left-2 {
            top:35%;
            left: -80px;
            @include media-breakpoint-down(md){
                left: -220px;
            }
        }
        &.cloud-right-1 {
            top: 10%;
            right: 25px;
            @include media-breakpoint-down(md){
                right: -180px;
            }
        }
        &.cloud-right-2 {
            top:35%;
            right: -50px;
            @include media-breakpoint-down(md){
                right: -240px;
            }

        }
    }
}