.payment_methods_planes_component {	
	margin-bottom: 80px;
	.planes-image {

		@include media-breakpoint-up(sm) {
			height: 200px;
			background-position: 45px 20px, 70% 0%;
			
		}
		@include media-breakpoint-up(md) {
			height: 240px;
		}
		@include media-breakpoint-up(lg) {
			height: 300px;
			background-position: 130px 20px, 70% 0%;
		}
		@include media-breakpoint-up(xl) {
			height: 400px;
			background-position: 186px 20px, 70% 0%;
		}
    }
}
