.work_single_members_img {
	.slogan {
		margin-bottom: $big-mar;
		@include font-lg();
		font-weight: 300;
		@include media-breakpoint-down(sm) {
			@include font-md();
			padding-left: $small-pad;
			padding-right: $small-pad;
        }
	}

	.members {
		.member-img {		   
		   text-align: center;
			.team-member {
				background-size: cover!important;
				background-position: 0 10%!important;
				background-repeat: no-repeat!important;
				border-radius: 20px;
				width: 100%;
				min-height: 320px; 
				position: relative;
				overflow: hidden;
				&:hover {
					.overlay{
						opacity: 1;
						visibility: visible;
						border-radius: 20px;
						overflow: hidden;
					}
				}
				.overlay{
					opacity: 0;
					border-radius: 20px;
					overflow: hidden;
					visibility: hidden;
					position: absolute;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.3+0,0.8+100 */
					background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
					display: flex;
					align-content: center;
					align-items: center;
					@include hover-transition;
					.content {
						width: 100%;
						color: white; 
						@include font-xs;
						font-weight: 600;
						padding: $small-pad $small-pad 0 $small-pad;
					}
					.mini-social{
						img {margin: 0 5px;}
						position: absolute;
						bottom:0;
						left: 0;
						width: 100%;
						padding: $small-pad;
					}
				}
			}
			.name {
				margin-top: $medium-mar;
				margin-bottom: $small-mar;
				font-weight: 400;
				color: $color-gray;
				@include font-md();
			}
			.position {
				@include font-sm();
				font-weight: 700;
			}
		}
	}
}
