.payment_methods_pay_card_component {
    .card-logos-wrapper {
        @include media-breakpoint-down(sm) {
            margin-bottom: 40px;
        }
        background: white;
        padding: 0;
        img {
            height: 50px;
            display: inline-block;
            margin: $small-mar $small-mar;
        }
        img:not(.active) {
            -webkit-filter: grayscale(100%) opacity(30%);
            filter: grayscale(100%) opacity(30%);
            &:hover {
            -webkit-filter: grayscale(0%) opacity(100%);
            filter: grayscale(0%) opacity(100%);
            }
        }
    }

    .pay-cards-row {		
        .pay-card-image {

			@include media-breakpoint-down(sm) {
				padding: 0 $medium-pad;
			}
            text-align: center;
            margin-bottom: $margin-xl;

            img {
                width: 438px;
            }
            .logo-container {
                position: relative;
                background: url('assets-platnosci/karta.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 100% 0%;
                width: 620px;
                max-width: 100%;
                height: 300px;
                display: inline-block;
                .card-holder {
                    position: absolute;
                    right: 35px;
                    top: 35px;
                    width: 140px;
                    height: 90px;
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
            }
        }
        .pay-card-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .content {
                min-height: 150px;
                @include media-breakpoint-down(md) {
                    min-height: 80px;
                }
                @include media-breakpoint-down(sm) {
                    min-height: 50px;
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 0 $medium-pad;
            }

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }

            .row {
				justify-content: center;
				@include media-breakpoint-up(lg) {
					justify-content: flex-start;
				}
			}
            h2 {
				font-size: 1.4rem;
				font-weight: bold;
				text-align: left;
				margin-bottom: $margin-xl;
				@include media-breakpoint-up(lg) {
					font-size: 2rem;
				}
			}
	
			p {
				font-size: 0.8rem;
				text-align: left;
                margin-bottom: 0;
                visibility: hidden;
                height:0;
				@include media-breakpoint-up(lg) {
					font-size: 1rem;
					text-align: left;
                }
                &.active {
                    visibility: visible;
                    height: auto;
                }
			}

            .button-bar {
                height: 80px;
                @include media-breakpoint-up(lg) {
                    justify-content: flex-start;
                }

                .btn {
                    height: 45px;
                	line-height: 45px;
                	font-size: 14px;
                	letter-spacing: 0.65px;
                	border: none;
                	color: black;
                	padding: 0;
                	display: inline-block;
                }

                .btn-yellow {
                    width: 160px;
                }

                .btn-outline {
                    width: 200px;
                }
                .link:not(.active) {
                    display: none;
                }
            }
        }

        .card-logos-row {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: $margin-xl;
            @include media-breakpoint-down(md) {
				padding: 0 $medium-mar;
			}

            .row {
                overflow: hidden;
            }
        }
    }

}
