.home_api_intro_component{

    

    .secure-container {
        margin-bottom: 120px;
        margin-top: 120px;
    }
    .secure-icon {
        position: relative;
        @include media-breakpoint-down(md){
            position: sticky;
            top: 114px;
        }
        @include media-breakpoint-down(sm){
            position: relative;
            top: 0;
        }
    }
    .secure-form{
        display: inline-block;
    }
    .secure-content {
        h3{
            @include font-lg;
        }
        p{
        }
        .button-bar {
            margin-top: $big-mar;
        }
        .btn {
            &.right {
                @include media-breakpoint-up(lg){
                    margin-right: $medium-mar;
                }
                @include media-breakpoint-down(md){
                    margin-right: $small-mar;
                }
                @include media-breakpoint-down(sm){
                    margin-right: 0;
                    margin-bottom: $medium-mar;
                }
            }
        }
    }

    .api-separator {
        margin: $medium-mar 0;
    }
    .api-code {
        margin-top: $big-mar;
        margin-bottom: $big-mar;
        .code-holder {
            position: relative;
            .selectors {
                position: absolute;
                right: 5%;
                top: 5%;
                display: inline;
                span {
                    cursor: pointer;
                    margin-left: $small-mar;
                    text-transform: uppercase;
                    color: #51B7CC;
                    &.active {
                        color: #000000;
                    }
                }
            }
            code[class*="language-"], pre[class*="language-"] {
                background: white;
            }
            .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
                color: $color-marine-blue;
            }
            code[class*="language-"], pre[class*="language-"]{
                color: $color-gray;
            }
            .token.punctuation {
                color: $color-gray;
            }
            .code-pre {
                position: absolute;
                width: 85%;
                height: 80%;
                top: 15%;
                bottom: 5%;
                left: 10%;
                right: 5%;
                overflow: auto;
                .code {
                    opacity: 0;
                    visibility: hidden;
                    line-height: 11px;
                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 11px;
                }
            }
        }
    
    }
    .api-container {
        font-weight: 700;
        margin-bottom: $small-mar;
        @include font-sm;
    }
    margin-top:6rem;
    h2 {
        margin-bottom: 0rem;
        @include media-breakpoint-up(lg){
            @include font-xxl;
        }
        @include media-breakpoint-up(md){
            @include font-xl;
        }
        @include media-breakpoint-down(sm){
            @include font-lg;
        }
        font-weight: 600;
    }
    .intro-row {
        p {
            margin-top: 0.7rem;
            font-size:1.2rem;
            line-height:1.6rem;
        }
    }
    .code-screen-row{
        margin-top: 3rem;
        p{
            font-size:1.2rem;
            font-weight: 600;
        }
        .left-column {
            img {
                
            }
        }
        .right-column {
            img {
                
            }
        }
        
    }
}