.page-template-page-legal {
    overflow-x: hidden;
}
.legal-loop {
    margin-top: 120px;
    
    .social-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 104px;
        margin-bottom: $medium-mar;
        margin-top: $big-mar;
        img {
            margin: 0px 5px;
            filter: grayscale(100%);
            @include hover-transition;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
    .call-to-action {
        margin: 30px 0;
    }
    h1 {
        font-weight: 800;
        color: #4a4a4a;
        font-size: 72px;
        @include media-breakpoint-down(md) {
            @include font-xxl;
        }
        @include media-breakpoint-down(sm) {
            @include font-xxl;
        }
        margin-bottom: $big-mar;
    }
    .box {
        position: relative;
        .holder {
        border-radius: $radius-10;
        padding: $big-pad;
        margin-bottom: $medium-mar;
        border: 1px solid #bebebe;
        background: white;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
            div {
                margin: $small-mar 0;
                a {
                    color: black;
                    span {
                        margin-left: $small-mar;
                    }
                    &:hover{
                        color: $color-blue;
                    }
                }
            }
        }
        .lex {
            position: absolute;
            top: -70%;
            right: -85px;
            z-index: -1;
        }
        .cloud-right {
            position: absolute;
            top: -70%;
            z-index: -1;
            right: -540px;
        }
    }
    .cloud-left {
        position: absolute;
        bottom: -5%;
        z-index: -1;
        left: -340px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .contact-boxes {
        margin-bottom: 120px;
    }
    .sales-wrapper, .contact-wrapper{
        text-align: center;
        margin-top: 80px;
        position: relative;
        transform: translateY(0px);
        @include hover-transition;
        &:hover {
            transform: translateY(-6px);
        }
        .subtitle {
            @include font-md;
            font-weight: 600;
            margin-bottom: $small-mar;
        }
    }

    .contact-wrapper {
        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: #bebebe;
        }
    }

    .support-form, .sales-form{
            background: white;
            min-width: 280px;
            width: 375px;
            max-width: 100%;
            border: 3px solid $color-marine-blue;
            border-radius: $radius-10;
            padding: $small-pad;
            display: inline-block;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            margin-bottom: $big-mar;

            .name-icon, .surname-icon,.email-icon,.company-icon,.website-icon,.phone-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .message-icon {
                position: relative;
                &:before{
                    position: absolute;
                    content:'';
                    left: 5px;
                    top: 5px;
                    width: 20px;
                    height: 30px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }
            .name-icon:before {
                    background: url('contact/user.svg'); 
            }
            .surname-icon:before {
                background: url('contact/user.svg'); 
            }
            .email-icon:before {
                background: url('contact/mail.svg'); 
            }
            .company-icon:before {
                background: url('contact/paperclip.svg'); 
            }
            .website-icon:before {
                background: url('contact/book-open.svg'); 
            }
            .phone-icon:before {
                background: url('contact/phone.svg'); 
            }
            .message-icon:before {
                background: url('contact/feather.svg'); 
            }
            .submit:before {
                background: url('contact/send.svg'); 
            }
            
            p   {
                margin: $small-mar 0 $medium-mar 0;
                @include font-sm;
            }

            button, input {
                width: 100%;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-bottom: 2px;
                @include font-sm;
                border-color: $color-marine-blue;
                border-style: solid;
                margin: $small-mar 0;
                padding: 0 0 8px $medium-pad;
                line-height: 18px;
                @include hover-transition;
                &:focus {
                    outline: none;
                    border-color: $color-marine;
                }
            }

            .submit {
                border:0px solid;
                position: relative;
                padding: $small-pad;
                border-radius: $radius-5;
                background: $color-marine;
                font-weight: 700;
                @include font-sm;
                color: #ffffff;
                margin: 0;
                @include hover-submit;
                &:before{
                    position: absolute;
                    content:'';
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-size: contain!important;
                    background-repeat: no-repeat!important;
                    background-position: 0 0!important;
                }
            }

            textarea {
                border: 0px;
                background: #e8e8e8;
                border-radius: $radius-5;
                width: 100%;
                min-height: 150px;
                padding: $small-pad $small-pad $small-pad $medium-pad;
            }
    }
}
.wave-holder {
    position: relative;
    display: block;
    .wave-grey {
        width: 100%;
        height: auto;
        margin-bottom: -20vw;
    }
}
.social-icons {
    position: relative;
}
