.newsletter_header_component {
	
	.cloud {
		height: 185px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		@include media-breakpoint-down(md) {
			padding: 0 $medium-pad;
			height: 120px;			
		}
	}

	.left-cloud {		
		background-image: url('assets_newsletter/cloud-left.svg');		
	}

	.descryption-section {
		padding-top: $big-pad;
		text-align: center;
		margin-bottom: $big-mar;
		
		h1 {
			font-size: 2.2rem;
			font-weight: 600;
			margin-bottom: $medium-mar;
		}

		p {
			font-size: 0.9rem;
		}
		@include media-breakpoint-down(md)  {
			padding: 0 $medium-pad;			
		}
	}

	.right-cloud {
		background-image: url('assets_newsletter/cloud-right.svg');	
	}
	
}