.newsletter_footer_component {
        margin-top: $big-mar;
        h5 {
            color: #808080;
            text-transform: uppercase;
            font-size:.8rem;
            margin-bottom:1rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }          
        .client {
            height: 25px;
            margin: 0 30px 30px 30px;
        }
    
}