.newsletter_form_component {


    .main-wrapper {
        @include media-breakpoint-down(sm) {
            padding: 0 30px;
        }
    }
    .slogan {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: $medium-mar;
    }

    .plane {
      margin-bottom: $medium-mar;
    }

    .login-box {
        position: relative;
        border: 3px solid #51B7CC;
        border-radius: $radius-10;
        padding: 10px 12px 14px 10px;
        width: 320px;

        .plane-sticky {
			background-image: url('assets_newsletter/paper-plane.svg');
        	background-repeat: no-repeat;
			background-size: contain;
            position: absolute;
            top: -50px;
            left: -348px;
            width: 327px;
            height: 250px;
            @include media-breakpoint-down(md) {
                width: 163px;
                height: 125px;
                top: 78px;
                left: -172px;
            }
        }

        .form-group {
            margin-bottom: 9px;
            border: none;
        }

        .input-group-icon {
            margin: 0;
            padding: 1px;
        }

        .input-group-text {
            padding: 4px 6px 0px 0px;
            border-width: 0 0 2px 0;
            border-color: #51B7CC;
            background-color: transparent;
            border-radius: 0;
            &:focus {
                box-shadow: none;
            }
            input {
                border: none;
                font-size: 0.8rem;

                &::placeholder {
                    color: #ababab;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: #ababab;
                }

                &::-ms-input-placeholder {
                    color: #ababab;
                }

            }
        }

        .code-group {
            span {
                color: #51B7CC;

                font-size: 0.7rem;
                font-weight: bold;
            }
        }

        .policy-link {
            padding: 0 0;
            text-align: center;
            font-size: 0.8rem;
            margin: 20px 0;
        }

        .send-button-group {
            margin-bottom: 0;
            .btn {
                background-color: #51CCB2;
                color: white;
                width: 100%;
                height: 50px;
                border-radius: $radius-5;
                font-size: 0.9rem;
                font-weight: bold;
                img {
                    margin-right: 8px;
                }
            }
        }
    }

    .recomendation-column {
        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: center;
            margin-top: $medium-mar;
        }

        .recommendation-box {
            width: 250px;
            margin: 0;
            img {
                border-radius: 50%;
                border: 4px solid white;
                width: 33.3%;
                margin: auto 33.3%;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
                ;
            }
            .s1 {
                font-size: .6rem;
                width: 100%;
                padding: 0 5%;
                margin-top: 1rem;
                letter-spacing: .1rem;
                margin-bottom: 1rem;
            }
            .s2 {
                font-size: .8rem;
                margin-bottom: 0rem;
                font-weight: 600;
            }
            .s3 {
                color: #4a90e2;
                font-size: .8rem;
            }
        }
    }
}
